.app-content
  .content-wrapper
    .container
      .card
        .card-header.d-flex
          -# %i.material-icons-two-tone> book
          %h5.card-title
            Reservist List
        .card-body
          .datatable-container
            .table-responsive.datatable-container
              %table#vehicles-table.table.table-striped.table-bordered.table-hover.table-sm.datatable
                %thead.bg-light
                  %tr
                    %th Sq.
                    %th Afpsn
                    %th Rank
                    %th Fullname
                    %th Location
                    %th Mobile Nr
                    %th Account Status
                  %th Action
                %tbody
                  - i = 1
                  - @reservists.each do |reservist|
                    %tr.odd{ role: "row" }
                      %td= i
                      %td= reservist.afpsn
                      %td= reservist.rank
                      %td= reservist.full_name
                      %td= reservist.location
                      %td= reservist.mobile_nr
                      %td.text-center
                        - if reservist.is_active
                          %i.material-icons.text-success check
                        - else
                          %i.material-icons.text-danger cancel
                      %td
                        .form-button-action.gap-3.d-flex.justify-content-between.align-items-center
                          - if reservist.is_active
                            = link_to "#",
                              title: "Deactivate",
                              class: "btn btn-danger btn-xs rounded-pill px-2 py-1 small-pill",
                              data: { bs_toggle: "modal", bs_target: "#approveModal-#{reservist.id}" } do
                              Deactivate
                          - else
                            = link_to "#",
                              title: "Activate",
                              class: "btn btn-success btn-xs rounded-pill px-2 py-1 small-pill",
                              data: { bs_toggle: "modal", bs_target: "#approveModal-#{reservist.id}" } do
                              Activate

                          = link_to reservist, title: "Show it", class: "text-primary" do
                            %i.material-icons visibility

                          -# = link_to edit_reservist_path(reservist), title: "Edit it", class: "text-success" do
                          -#   %i.material-icons edit
                          
                        -# = link_to reservist,
                        -#   data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' },
                        -#   title: 'Destroy it',
                        -#   class: 'btn btn-icon btn-sm btn-danger' do
                        -#   %i.material-icons delete
                        .modal.fade{ id: "approveModal-#{reservist.id}", tabindex: "-1", role: "dialog", "aria-labelledby": "approveModalLabel-#{reservist.id}", "aria-hidden": "true" }
                          .modal-dialog
                            .modal-content
                              .modal-header
                                %h5.modal-title{ id: "approveModalLabel-#{reservist.id}" } Confirm Approval
                                %button.btn-close{ type: "button", data: { bs_dismiss: "modal" }, aria: { label: "Close" } }
                              .modal-body
                                Are you sure you want to activate this reservist?
                              .modal-footer
                                - if reservist.is_active
                                  %button.btn.btn-secondary{ type: "button", data: { bs_dismiss: "modal" } } Cancel
                                  = button_to "Yes, Deactivate", activate_reservist_path(reservist), method: :patch, class: "btn btn-danger"
                                - else
                                  %button.btn.btn-secondary{ type: "button", data: { bs_dismiss: "modal" } } Cancel
                                  = button_to "Yes, Activate", activate_reservist_path(reservist), method: :patch, class: "btn btn-success"


                    - i+=1


