.title
  RESERVIST PERSONNEL INFORMATION
  %br
  DATA CAPTURED FORM

%table
  %tr.section-header
    %td{colspan: 4} PERSONAL INFORMATION

  %tr.field-row
    %td{colspan: 4}
      %table.inner-table
        %tr
          %td
            .field-label Rank
            .field-value= @reservist.rank
          %td
            .field-label Last Name
            .field-value= @reservist.last_name
          %td
            .field-label First Name
            .field-value= @reservist.first_name
          %td
            .field-label Middle Name
            .field-value= @reservist.middle_name
  %tr.field-row
    %td{colspan: 5}
      %table.inner-table
        %tr
          %td
            .field-label Br of Service
            .field-value= @reservist.branch_of_service
          %td
            .field-label AFPSN
            .field-value= @reservist.afpsn
          %td
            .field-label Primary AFSC
            .field-value= @reservist.primary_afsc
          %td
            .field-label Duty AFSC
            .field-value= @reservist.duty_afsc
          %td
            .field-label Other Skills
            .field-value= @reservist.other_skills
  %tr.field-row
    %td{colspan: 4}
      %table.inner-table
        %tr
          %td
            .field-label Source of Enlistment
            .field-value= @reservist.source_of_enlistment
          %td
            .field-label Authority
            .field-value= @reservist.soe_authority
          %td
            .field-label Date of Enlistment/Incorporation
            .field-value= @reservist.soe_date_of_enlistment
          %td
            .field-label Initial Rank
            .field-value= @reservist.soe_initial_rank
  
  %tr.field-row
    %td{colspan: 4}
      %table.inner-table
        %tr
          %td
            .field-label Source of Commission
            .field-value= @reservist.source_of_commission
          %td
            .field-label Authority
            .field-value= @reservist.soc_authority
          %td
            .field-label Date of Commission/Incorporation
            .field-value= @reservist.soe_date_of_enlistment
          %td
            .field-label Initial Rank
            .field-value= @reservist.soc_initial_rank
  %tr.field-row
    %td{colspan: 3}
      %table.inner-table
        %tr
          %td
            .field-label Reservist Classification
            .field-value= @reservist.reservist_classification
          %td
            .field-label Authority
            .field-value= @reservist.classification_authority
          %td
            .field-label Date of Classification
            .field-value= @reservist.date_of_classification
  %tr.field-row
    %td{colspan: 3}
      %table.inner-table
        %tr
          %td
            .field-label Reserve Unit Assignment
            .field-value= @reservist.reserve_unit_assignment
          %td
            .field-label Date Assigned
            .field-value= @reservist.date_assigned
          %td
            .field-label Unit Capability
            .field-value= @reservist.unit_capability
  %tr.field-row
    %td{colspan: 2}
      %table.inner-table
        %tr
          %td
            .field-label Present Designation
            .field-value= @reservist.present_designation
          %td
            .field-label Mobilization Center
            .field-value= @reservist.mobilization_center
  
  %tr.field-row
    %td{colspan: 5}
      %table.inner-table
        %tr
          %td
            .field-label Home Address(Nr/Street/Brgy)
            .field-value= @reservist.street_address
          %td
            .field-label Town/City
            .field-value= @reservist.city
          %td
            .field-label Province
            .field-value= @reservist.province
          %td
            .field-label Zip Code
            .field-value= @reservist.zip_code
          %td
            .field-label Region
            .field-value= @reservist.region
            
  %tr.section-header
    %td{colspan: 4} HOME ADDRESS INFORMATION

  %tr
    %th Home Address
    %td{colspan: 3}= @reservist.street_address

  %tr
    %th Town/City
    %td= @reservist.city
    %th Province
    %td= @reservist.province

  %tr
    %th Zip Code
    %td= @reservist.zip_code
    %th Region
    %td= @reservist.region

  %tr.section-header
    %td{colspan: 4} PERSONAL DETAILS

  %tr
    %th Date of Birth
    %td= @reservist.date_of_birth
    %th Age
    %td= @reservist.age

  %tr
    %th Place of Birth
    %td{colspan: 3}= @reservist.place_of_birth

  %tr
    %th Email Address
    %td= @reservist.email
    %th Mobile Nr
    %td= @reservist.mobile_nr
