= form_for @parcel do |f|
  - if @parcel.errors.any?
    #error_explanation
      %h2= "#{pluralize(@parcel.errors.count, "error")} prohibited this parcel from being saved:"
      %ul
        - @parcel.errors.full_messages.each do |message|
          %li= message
  .d-flex
    .col-md-6
      = f.label :block, :class => "form-label"
      = f.number_field :block, class: 'form-control', required:  true
    .col-md-6
      = f.label :lot, :class => "form-label"
      = f.number_field :lot, class: 'form-control', required:  true
  .d-flex
    .col-md-6
      = f.label :status, :class => "form-label"
      = f.select :status, options_for_select([['Sold', 'Sold'], ['Available', 'Available'], ['Reserved', 'Reserved']]), { include_blank: 'Select Status' }, class: 'form-control', required: true
      /= f.text_field :status, class: 'form-control', required:  true
    .col-md-6
      = f.label :subdivision_id, :class => "form-label"
      = f.select :subdivision_id, options_for_select(Subdivision.all.order(:name).collect{ |u| [u.name, u.id]}), {include_blank: false}, :class=>"form-control"
  .col-md-12.mt-2
    = link_to 'Back', parcels_path, class: 'btn btn-secondary'
    = f.submit 'Save Changes', class: 'btn btn-primary float-right'
