.app.align-content-stretch.d-flex.flex-wrap
  = render "layouts/sidebar"
  .app-container
    .app-content
      .content-wrapper
        .container
          .page-description.d-flex.align-items-center
            .page-description-content.flex-grow-1
              %h1 Inventory
            .page-description-actions
              = link_to new_parcel_path, class: 'btn btn-primary' do
                %i.material-icons> add
                New Block & Lot
          .card
            .card-body
              .row
                .col-sm-12.table-responsive
                  %table#datatable_parcels.display.dataTable{"aria-describedby" => "datatable1_info", :role => "grid", :style => "width: 100%;"}
                    %thead
                      %tr{:role => "row"}
                        %th.sorting_asc{"aria-controls" => "datatable1", "aria-label" => "Name: activate to sort column descending", "aria-sort" => "ascending", :colspan => "1", :rowspan => "1", :style => "width: 208px;", :tabindex => "0"} Subdivision
                        %th.sorting{"aria-controls" => "datatable1", "aria-label" => "Position: activate to sort column ascending", :colspan => "1", :rowspan => "1", :style => "width: 304px;", :tabindex => "0"} Block
                        %th.sorting{"aria-controls" => "datatable1", "aria-label" => "Office: activate to sort column ascending", :colspan => "1", :rowspan => "1", :style => "width: 159px;", :tabindex => "0"} Lot
                        %th.sorting{"aria-controls" => "datatable1", "aria-label" => "Office: activate to sort column ascending", :colspan => "1", :rowspan => "1", :style => "width: 159px;", :tabindex => "0"} Lot Area
                        %th.sorting{"aria-controls" => "datatable1", "aria-label" => "Office: activate to sort column ascending", :colspan => "1", :rowspan => "1", :style => "width: 159px;", :tabindex => "0"} House Area
                        %th.sorting{"aria-controls" => "datatable1", "aria-label" => "Office: activate to sort column ascending", :colspan => "1", :rowspan => "1", :style => "width: 159px;", :tabindex => "0"} Description
                        %th.sorting{"aria-controls" => "datatable1", "aria-label" => "Office: activate to sort column ascending", :colspan => "1", :rowspan => "1", :style => "width: 159px;", :tabindex => "0"} Selling Price
                        %th.sorting{"aria-controls" => "datatable1", "aria-label" => "Age: activate to sort column ascending", :colspan => "1", :rowspan => "1", :style => "width: 58px;", :tabindex => "0"} Status
                        %th.sorting{"aria-controls" => "parcel_table", "aria-label" => "Action: activate to sort column ascending", :colspan => "1", :rowspan => "1", :style => "width: 66px;", :tabindex => "0"} Action
                    %tbody
                      - @parcels.each do |parcel|
                        %tr.odd{:role => "row"}
                          %td= parcel.subdivision&.short_code
                          %td= "B#{parcel.block}"
                          %td= "L#{parcel.lot}"
                          %td= parcel.lot_area
                          %td= parcel.house_area
                          %td= parcel.description
                          %td= number_to_currency(parcel.selling_price, precision: 2, delimiter: ",", unit: "₱ ")
                          %td
                            .badge{class: "badge #{badge_class_for(parcel.status)}"}
                              = parcel.status
                          %td
                            .d-flex
                              = link_to parcel, class: 'btn btn-action btn-info' do
                                %i.material-icons> visibility
                            - if admin_or_ceo?
                              = link_to edit_parcel_path(parcel), class: 'btn btn-action btn-warning' do
                                %i.material-icons> edit
                            
                              = button_to parcel_path(parcel), class: 'btn btn-action btn-danger', method: :delete, data: { confirm: 'Are you sure?', remote: true } do
                                %i.material-icons delete
:javascript
  $(document).ready( function () {
      $('#datatable_parcels').DataTable();
  } );
  