%section.section
  .section-header.d-mobile-none
    %h1 Add purchaser
  .col-12.col-md-12.col-lg-12
    .card
      .card-body.p-0
        = form_for @purchaser do |f|
          - if @purchaser.errors.any?
            #error_explanation
              %h2= "#{pluralize(@purchaser.errors.count, "error")} prohibited this purchaser from being saved:"
              %ul
                - @purchaser.errors.full_messages.each do |message|
                  %li= message
          .card-body.pb-0
            .row
              .form-group.col-12.pt-2
                .form-row
                  .col-md-6.pt-3
                    .field
                      = f.label :name
                      = f.text_field :name, class: 'form-control', required:  true
                  .col-md-6.pt-3
                    .field
                      = f.label :budget
                      = f.text_field :budget, class: 'form-control', required:  true
                  .col-md-6.pt-3
                    .field
                      = f.label :expense
                      = f.text_field :expense, class: 'form-control', required:  true
                  .col-md-6.pt-3
                    .field
                      = f.label :date_started
                      = f.datetime_field :date_started, class: 'form-control', required:  true
                  .col-md-6.pt-3
                    .field
                      = f.label :deadline
                      = f.datetime_field :deadline, class: 'form-control', required:  true
                  .col-md-6.pt-3
                    .field
                      = f.label :status
                      = f.text_field :status, class: 'form-control', required:  true
                  .col-md-6.pt-3
                    .field
                      = f.label :remarks
                      = f.text_area :remarks, class: 'form-control'
                      = f.hidden_field :parcel_id, class: 'form-control', required:  true, value: @parcel.id
                .card-footer
            = link_to 'Back', purchasers_path, class: 'btn btn-secondary'
            = f.submit 'Save Changes', class: 'btn btn-warning float-right'

- content_for(:page_title, 'Dashboard')