%section.section
  .section-header.d-mobile-none
    %h1 New created parcel
    .section-header-breadcrumb
      .breadcrumb-item 
        = link_to 'Dashboard', '/'
      .breadcrumb-item
        @parcel
  .col-12.col-md-12.col-lg-12
    .card
      .card-body
        = form_for @parcel do |f|
          - if @parcel.errors.any?
            #error_explanation
              %h2= "#{pluralize(@parcel.errors.count, "error")} prohibited this parcel from being saved:"
              %ul
                - @parcel.errors.full_messages.each do |message|
                  %li= message
          .form-row.pt-3
            .col-md-6
              .field
                = f.label :block
                = f.text_field :block, class: 'form-control', required:  true, disabled: true
            .col-md-6
              .field
                = f.label :lot
                = f.text_field :lot, class: 'form-control', required:  true, disabled: true
            .col-md-6
              .field
                = f.label :status
                = f.text_field :status, class: 'form-control', required:  true, disabled: true
          .card-footer.pt-3
        
        = link_to 'Back', parcels_path, :class => "btn btn-secondary"
        = link_to 'Edit', edit_parcel_path(@parcel), :class => "btn btn-warning float-right"

