
.app.app-auth-sign-in.align-content-stretch.d-flex.flex-wrap.justify-content-center
  .app-auth-container
    .logo.container-fluid.justify-content-center
      = image_tag "logo.png", alt: "Logo", style: "width: 200px; height: auto;"
      %p.auth-description
        Please sign-in to your account
    .auth-credentials.m-b-xxl
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        %label.form-label{:for => "signInEmail"} Email address
        = f.email_field :email, required: true, autofocus: true, autocomplete: "email", class: "form-control m-b-md", :placeholder => "ex. admin@gmail.com", id: 'email'
        
        %label.form-label{:for => "signInPassword"} Password
        = f.password_field :password, required: true, autocomplete: "current-password", class: "form-control", :placeholder => "●●●●●●●●", id: 'current-password'
      
        = f.submit "Log in", class: "btn btn-primary mt-4"
    %p.text-muted.mt-1
      Don't have an account? Please contact admin for your account credentials.
      
       
    
