.app.align-content-stretch.d-flex.flex-wrap
  .app-sidebar
    = render "layouts/sidebar"
  .app-container
    .app-content
      .content-wrapper
        .container
          .row
            .card
              .card-header
                %h2 Update User Information
              .card-body
                = form_for @user, url: manage_user_path do |f|
                  .d-flex
                    .col-md-6
                      = f.label :name, :class => "form-label"
                      = f.text_field :name, {:required => true, :class => "form-control mr-2", :value => "#{@user.name}"}
                    .col-md-6
                      = f.label :surname, :class => "form-label"
                      = f.text_field :surname, {:required => true, :class => "form-control", :value => "#{@user.surname}"}
                  .d-flex
                    .col-md-6
                      = f.label :email, :class => "form-label"
                      = f.text_field :email, {:required => true, :class => "form-control", :value => "#{@user.email}"}
                  - unless @user.role == 'admin'
                    .col-md-6
                      = f.label :role, :class => "form-label"
                      = f.select :role, options_for_select([['admin', 'admin'], ['staff', 'staff'], ['cashier', 'cashier']]),{},:class => 'form-control'
                  .col-md-6
                    = f.label :status, "Status", :class => "form-label"
                  
                  .col-md-6
                    = f.radio_button :status, true, id: 'active', class: 'form-check-input'
                    = f.label :status_active, "Active", for: 'active', class: 'form-check-label'
              
                    = f.radio_button :status, false, id: 'inactive', class: 'form-check-input'
                    = f.label :status_inactive, "Inactive", for: 'inactive', class: 'form-check-label'
                  .field
                    = f.number_field :user_id, {:hidden => true, :value => "#{@user.id}"}
                  %br
                  .col-md-6
                    = f.submit 'Update',:class => "btn btn-primary"