.app.align-content-stretch.d-flex.flex-wrap
  = render "layouts/sidebar"
  .app-container
    .app-content
      .content-wrapper
        .container
          .page-description.d-flex.align-items-center
            .page-description-content.flex-grow-1
              %h1 Users
            .page-description-actions
              = link_to new_manage_user_path, class: 'btn btn-primary' do
                %i.material-icons> add
                New User
          .card
            .card-body
              .row
                .col-sm-12
                  %table#datatable_users.display.dataTable{"aria-describedby" => "datatable1_info", :role => "grid", :style => "width: 100%;"}
                    %thead
                      %tr{:role => "row"}
                        %th.sorting_asc{"aria-controls" => "datatable1", "aria-label" => "Name: activate to sort column descending", "aria-sort" => "ascending", :colspan => "1", :rowspan => "1", :style => "width: 208px;", :tabindex => "0"} Role
                        %th.sorting{"aria-controls" => "datatable1", "aria-label" => "Position: activate to sort column ascending", :colspan => "1", :rowspan => "1", :style => "width: 304px;", :tabindex => "0"} Name
                        %th.sorting{"aria-controls" => "datatable1", "aria-label" => "Office: activate to sort column ascending", :colspan => "1", :rowspan => "1", :style => "width: 159px;", :tabindex => "0"} Email
                        %th.sorting{"aria-controls" => "datatable1", "aria-label" => "Age: activate to sort column ascending", :colspan => "1", :rowspan => "1", :style => "width: 58px;", :tabindex => "0"} Action
                    %tbody
                      - @users.each do |user|
                        %tr.odd{:role => "row"}
                          %td= user.role
                          %td= user.name
                          %td= user.email
                          %td.d-flex 
                            = link_to edit_manage_user_path(user.id), class: 'btn btn-action btn-primary' do
                              %i.material-icons> edit
                            - unless user.role === 'admin' || user.role === 'ceo'
                              = button_to manage_user_path(user), class: 'btn btn-action btn-danger', method: :delete, data: { turbo_confirm: 'Confirm delete?' } do
                                %i.material-icons delete
:javascript
  $(document).ready( function () {
      $('#datatable_users').DataTable();
  } );
  