%section.section
  .section-header.d-mobile-none
    %h1 subdivisions
    .section-header-breadcrumb
      .breadcrumb-item 
        = link_to 'Dashboard', '/'
      .breadcrumb-item
        List of subdivisions
  .section-body
    .card
      .card-header
        %h4
          List of subdivisions
        .card-header-action
          = link_to icon('fas fa-plus', 'New Subdivision'), new_subdivision_path, class: 'btn btn-icon icon-left btn-primary' 
          = render 'shared/card_dropdown' do 
            = link_to icon('fas fa-print', 'Print Page'), 'javascript:window.print()', class: 'dropdown-item has-icon' 
            = link_to icon('fas fa-download', 'Export Data'), subdivisions_path(format: :xlsx, q: request.params[:q]), class: 'dropdown-item has-icon' 
      .card-body
        #subdivision_wrapper.dataTables_wrapper.container-fluid.dt-bootstrap4.no-footer
          .row
            .col-sm-12
              %table.table-responsive#subdivision_table.table.table-striped.dataTable.no-footer{"aria-describedby" => "subdivision_table_info", :role => "grid"}
                %thead
                  %tr.sorting{"aria-controls" => "subdivision_table", "aria-label" => "Action: activate to sort column ascending", :colspan => "1", :rowspan => "1", :style => "width: 66px;", :tabindex => "0"} 
                    %th Name
                    %th Short code
                    %th Location
                    %th Status
                    %th.sorting{"aria-controls" => "subdivision_table", "aria-label" => "Action: activate to sort column ascending", :colspan => "1", :rowspan => "1", :style => "width: 66px;", :tabindex => "0"} Action
                %tbody
                  - @subdivisions.each do |subdivision|
                    %tr.odd{:role => "row"}     
                      %td= subdivision.name
                      %td= subdivision.short_code
                      %td= subdivision.location
                      %td= subdivision.status
                      %td
                        = link_to icon('fas fa-eye'), subdivision, title: 'Show it', class: 'btn btn-icon btn-sm btn-info mr-1'
                        = link_to icon('fas fa-edit'), edit_subdivision_path(subdivision), title: 'Edit it', class: 'btn btn-icon btn-sm btn-warning mr-1'
                        = link_to icon('fas fa-trash'), subdivision, title: 'Destroy it', class: 'btn btn-icon btn-sm btn-danger', method: :delete, data: { confirm: 'Are you sure?', remote: true }
:javascript
  $(document).ready( function () {
      $('#subdivision_table').DataTable();
  } );
  