.app.align-content-stretch.d-flex.flex-wrap
  = render "layouts/sidebar"
  .app-container
    .app-content
      .content-wrapper
        .container
          .page-description.d-flex.align-items-center
            .page-description-content.flex-grow-1
              %h1 Subdivision
            .page-description-actions
              = link_to new_subdivision_path, class: 'btn btn-primary' do
                %i.material-icons> add
                New Subdivision
              /= link_to 'Print Page', 'javascript:window.print()', class: 'btn btn-primary'
          .card
            .card-body
              .row
                .col-sm-12.table-responsive
                  %table.table-responsive#subdivision_subs.table.table-striped.dataTable.no-footer{"aria-describedby" => "subdivision_table_info", :role => "grid"}
                    %thead
                      %tr
                        %th Name
                        %th Location
                        %th Location
                        %th Short code
                        %th Status
                        %th Action
                      - @subdivisions.each do |subdivision|
                        %tr.odd{:role => "row"}   
                          %td= subdivision.name           
                          %td= subdivision.name
                          %td= subdivision.short_code
                          %td= subdivision.location
                          %td= subdivision.status
                          %td
                            = link_to subdivision, title: 'Show it', class: 'btn btn-icon btn-sm btn-info mr-1'
                            = link_to edit_subdivision_path(subdivision), title: 'Edit it', class: 'btn btn-icon btn-sm btn-warning mr-1'
                            = link_to subdivision, title: 'Destroy it', class: 'btn btn-icon btn-sm btn-danger', method: :delete, data: { confirm: 'Are you sure?', remote: true }
:javascript
  $(document).ready( function () {
      $('#subdivision_subs').DataTable();
  } );
  