
.app.align-content-stretch.d-flex.flex-wrap
  .app-sidebar
    = render "layouts/sidebar"
  .app-container
    .app-content
      .content-wrapper
        .container
          .page-description.d-flex.align-items-center
            .page-description-content.flex-grow-1
              %h1 Subdivision
          .row
            .card
              .card-body
                = form_for @subdivision do |f|
                  - if @subdivision.errors.any?
                    #error_explanation
                      %h2= "#{pluralize(@subdivision.errors.count, "error")} prohibited this subdivision from being saved:"
                      %ul
                        - @subdivision.errors.full_messages.each do |message|
                          %li= message
                  .row.m-t-sm
                    .col-md-6
                      = f.label :name, :class => "form-label"
                      = f.text_field :name, class: 'form-control', required:  true, disabled: true
                    .col-md-6
                      = f.label :short_code, :class => "form-label"
                      = f.text_field :short_code, class: 'form-control', required:  true, disabled: true
                  .row.m-t-sm
                    .col-md-6
                      = f.label :location, :class => "form-label"
                      = f.text_field :location, class: 'form-control', required:  true, disabled: true
                    .col-md-6
                      = f.label :status, :class => "form-label"
                      = f.text_field :status, class: 'form-control', required:  true, disabled: true
                  .mt-4
                    = link_to 'Back', subdivisions_path, :class => "btn btn-dark"
                    = link_to 'Edit', edit_subdivision_path(@subdivision), :class => "btn btn-primary float-right"

