= form_for @client do |f|
  - if @client.errors.any?
    #error_explanation
      %h2= "#{pluralize(@client.errors.count, "error")} prohibited this client from being saved:"
      %ul
        - @client.errors.full_messages.each do |message|
          %li= message
  .row.m-t-sm
    .col-md-6
      = f.label :name, :class => "form-label"
      = f.text_field :name, class: 'form-control', required:  true
    .col-md-6
      = f.label :mobile_number, :class => "form-label"
      = f.text_field :mobile_number, class: 'form-control', required:  true
  .row.m-t-sm
    .col-md-6
      = f.label :telephone_number, :class => "form-label"
      = f.text_field :telephone_number, class: 'form-control', required:  true
    .col-md-6
      = f.label :email_address, :class => "form-label"
      = f.text_field :email_address, class: 'form-control', required:  true
  .row.m-t-sm
    .col-md-12
      = f.label :address, :class => "form-label"
      = f.text_area :address, class: 'form-control', required:  true
  .row.m-t-sm
    .col-md-4
      = f.label :facebook_account_name, :class => "form-label"
      = f.text_field :facebook_account_name, class: 'form-control', required:  true
    .col-md-4
      = f.label :gender, :class => "form-label"
      = f.text_field :gender, class: 'form-control', required:  true
    .col-md-4
      = f.label :civil_status, :class => "form-label"
      = f.text_field :civil_status, class: 'form-control', required:  true
  .row.m-t-sm
    .col-md-4
      = f.label :tin_number, :class => "form-label"
      = f.text_field :tin_number, class: 'form-control', required:  true
    .col-md-4
      .field
        = f.label :id_type, :class => "form-label"
        = f.text_field :id_type, class: 'form-control', required:  true
    .col-md-4
      = f.label :id_number, :class => "form-label"
      = f.text_field :id_number, class: 'form-control', required:  true
  .row.m-t-sm
    .col-md-4
      = f.label :occupation, :class => "form-label"
      = f.text_field :occupation, class: 'form-control', required:  true
    .col-md-4
      = f.label :years_employed,  :class => "form-label"
      = f.text_field :years_employed, class: 'form-control', required:  true
    .col-md-4
      = f.label :employer_name, :class => "form-label"
      = f.text_field :employer_name, class: 'form-control', required:  true
  .col-md-12.m-t-sm
    = f.label :employer_business_address, :class => "form-label"
    = f.text_field :employer_business_address, class: 'form-control', required:  true
  .m-t-xxl.m-b-xxl
    %h5.card-title.text-primary.text-uppercase
      Spouse Information
  .row.m-t-sm
    .col-md-6
      = f.label :spouse_name, :class => "form-label"
      = f.text_field :spouse_name, class: 'form-control', required:  true
    .col-md-6
      = f.label :spouse_contact_number, :class => "form-label"
      = f.text_field :spouse_contact_number, class: 'form-control', required:  true
  .row.m-t-sm  
    .col-md-6
      = f.label :spouse_email, :class => "form-label"
      = f.text_field :spouse_email, class: 'form-control', required:  true
    .col-md-6
      = f.label :spouse_tin_number, :class => "form-label"
      = f.text_field :spouse_tin_number, class: 'form-control', required:  true
  .row.m-t-sm
    .col-md-6
      = f.label :spouse_id_type, :class => "form-label"
      = f.text_field :spouse_id_type, class: 'form-control', required:  true
    .col-md-6
      = f.label :spouse_id_number, :class => "form-label"
      = f.text_field :spouse_id_number, class: 'form-control', required:  true
  .row.m-t-sm
    .col-md-12
      = f.label :spouse_address, :class => "form-label"
      = f.text_area :spouse_address, class: 'form-control', required:  true
  .row.m-t-sm
    .col-md-6
      = f.label :basic_salary, :class => "form-label"
      = f.text_field :basic_salary, class: 'form-control', required:  true
    .col-md-6
      = f.label :annual_income, :class => "form-label"
      = f.text_field :annual_income, class: 'form-control', required:  true
  .row.m-t-sm
    .col-md-6
      = f.label :housing_status, :class => "form-label"
      = f.select :status, options_for_select([['For Follow-up', 'For Follow-up'], ['Reserved', 'Reserved'], ['Approved', 'Approved']], @client.status), { include_blank: 'Select Status' }, class: 'form-control', required: true
      /= f.text_field :status, class: 'form-control', required:  true
    .col-md-6
      = f.label :remarks, :class => "form-label"
      = f.text_area :remarks, class: 'form-control', required:  true
  .row.m-t-sm
    .col-md-12
  .m-b-xxl
    %h5.card-title.text-primary.text-uppercase
      Documents
  .row.m-t-sm
    .col-md-6
      %label.form-label{:for => "formFile"} Birth Certificate
      = f.file_field :birth_cert_img, class: 'form-control', id: "formFile"
      - if @client.birth_cert_img.present?
        .mt-2
          = link_to "Current file : #{@client.birth_cert_img.identifier}", @client.birth_cert_img.url, target: '_blank'
    .col-md-6
      %label.form-label{:for => "formFile"} Marriage Contract
      = f.file_field :marriage_contract_img, class: 'form-control', id: "formFile"
      - if @client.marriage_contract_img.present?
        .mt-2
          = link_to "Current file: #{@client.marriage_contract_img.identifier}", @client.marriage_contract_img.url, target: '_blank'
  .row.m-t-sm
    .col-md-6
      %label.form-label{:for => "formFile"} Valid ID's
      = f.file_field :valid_id_img, class: 'form-control', id: "formFile"
      - if @client.valid_id_img.present?
        .mt-2
          = link_to "Current file: #{@client.valid_id_img.identifier}", @client.valid_id_img.url, target: '_blank'
    .col-md-6
      %label.form-label{:for => "formFile"} SPA (if out of the country)
      = f.file_field :spa_img, class: 'form-control', id: "formFile"
      - if @client.spa_img.present?
        .mt-2
          = link_to "Current file: #{@client.spa_img.identifier}", @client.spa_img.url, target: '_blank'
  .row.m-t-sm
    .col-md-6
      %label.form-label{:for => "formFile"} Proof of Income
      = f.file_field :proof_of_income_img, class: 'form-control', id: "formFile"
      - if @client.proof_of_income_img.present?
        .mt-2
          = link_to "Current file: #{@client.proof_of_income_img.identifier}", @client.proof_of_income_img.url, target: '_blank'
    .col-md-6
      %label.form-label{:for => "formFile"} PDC's / 60 months
      = f.file_field :pdc_img, class: 'form-control', id: "formFile"
      - if @client.pdc_img.present?
        .mt-2
          = link_to "Current file: #{@client.pdc_img.identifier}", @client.pdc_img.url, target: '_blank'


  .m-t-xxl
    
    = f.submit 'Save Changes', class: 'btn btn-primary float-right p-h-xxl'
    = link_to 'Back', clients_path, class: 'btn btn-dark'
