= form_for @client do |f|
	- if @client.errors.any?
		#error_explanation
			%h2= "#{pluralize(@client.errors.count, "error")} prohibited this client from being saved:"
			%ul
				- @client.errors.full_messages.each do |message|
					%li= message
	.row.m-t-sm
		.col-md-6
			= f.label :name, :class => "form-label"
			= f.text_field :name, class: 'form-control', required:  true, disabled: true
		.col-md-6
			= f.label :mobile_number, :class => "form-label"
			= f.text_field :mobile_number, class: 'form-control', required:  true, disabled: true
	.row.m-t-sm
		.col-md-6
			= f.label :telephone_number, :class => "form-label"
			= f.text_field :telephone_number, class: 'form-control', required:  true, disabled: true
		.col-md-6
			= f.label :email_address, :class => "form-label"
			= f.text_field :email_address, class: 'form-control', required:  true, disabled: true
	.row.m-t-sm
		.col-md-6
			= f.label :facebook_account_name, :class => "form-label"
			= f.text_field :facebook_account_name, class: 'form-control', required:  true, disabled: true
		.col-md-6
			= f.label :address, :class => "form-label"
			= f.text_area :address, class: 'form-control', required:  true, disabled: true
	.row.m-t-sm
		.col-md-6
			= f.label :gender, :class => "form-label"
			= f.text_field :gender, class: 'form-control', required:  true, disabled: true
		.col-md-6
			= f.label :civil_status, :class => "form-label"
			= f.text_field :civil_status, class: 'form-control', required:  true, disabled: true
	.row.m-t-sm
		.col-md-6
			= f.label :tin_number, :class => "form-label"
			= f.text_field :tin_number, class: 'form-control', required:  true, disabled: true
		.col-md-6
			= f.label :id_type, :class => "form-label"
			= f.text_field :id_type, class: 'form-control', required:  true, disabled: true
	.row.m-t-sm
		.col-md-6
			= f.label :id_number, :class => "form-label"
			= f.text_field :id_number, class: 'form-control', required:  true, disabled: true
		.col-md-6
			= f.label :occupation, :class => "form-label"
			= f.text_field :occupation, class: 'form-control', required:  true, disabled: true
	.row.m-t-sm
		.col-md-6
			= f.label :years_employed, :class => "form-label"
			= f.text_field :years_employed, class: 'form-control', required:  true, disabled: true
		.col-md-6
			= f.label :employer_name, :class => "form-label"
			= f.text_field :employer_name, class: 'form-control', required:  true, disabled: true
	.row.m-t-sm
		.col-md-6
			= f.label :employer_business_address, :class => "form-label"
			= f.text_field :employer_business_address, class: 'form-control', required:  true, disabled: true
		.col-md-6
			= f.label :spouse_name, :class => "form-label"
			= f.text_field :spouse_name, class: 'form-control', required:  true, disabled: true
	.row.m-t-sm
		.col-md-6
			= f.label :spouse_email, :class => "form-label"
			= f.text_field :spouse_email, class: 'form-control', required:  true, disabled: true
		.col-md-6
			= f.label :spouse_contact_number, :class => "form-label"
			= f.text_field :spouse_contact_number, class: 'form-control', required:  true, disabled: true
	.row.m-t-sm  
		.col-md-6
			= f.label :spouse_address, :class => "form-label"
			= f.text_area :spouse_address, class: 'form-control', required:  true, disabled: true
		.col-md-6
			= f.label :spouse_id_type, :class => "form-label"
			= f.text_field :spouse_id_type, class: 'form-control', required:  true, disabled: true
	.row.m-t-sm
		.col-md-6
			= f.label :spouse_id_number, :class => "form-label"
			= f.text_field :spouse_id_number, class: 'form-control', required:  true, disabled: true
		.col-md-6
			= f.label :spouse_tin_number, :class => "form-label"
			= f.text_field :spouse_tin_number, class: 'form-control', required:  true, disabled: true
	.row.m-t-sm
		.col-md-6
			= f.label :basic_salary, :class => "form-label"
			= f.text_field :basic_salary, class: 'form-control', required:  true, disabled: true
		.col-md-6
			= f.label :annual_income, :class => "form-label"
			= f.text_field :annual_income, class: 'form-control', required:  true, disabled: true
	.row.m-t-sm  
		.col-md-6
			= f.label :status, :class => "form-label"
			= f.text_field :status, class: 'form-control', required:  true, disabled: true
		.col-md-6
			= f.label :remarks, :class => "form-label"
			= f.text_area :remarks, class: 'form-control', required:  true, disabled: true
	.row.m-t-sm
		.col-md-6
			= f.label :documents, :class => "form-label"
			= f.text_field :documents, class: 'form-control', required:  true, disabled: true
	.m-t-xxl
		= link_to 'Back', clients_path, :class => "btn btn-dark"
		= link_to 'Edit Information', edit_client_path(@client), :class => "btn btn-primary"
