.container
  .page-description.d-flex.align-items-center
    .page-description-content.flex-grow-1
    .page-description-actions
      = link_to new_water_bill_path, class: 'btn btn-primary' do
        %i.material-icons> add
        New Water bill
  .row
    .table-responsive.col-sm-12
      %table#datatable_waterbill.display.dataTable{"aria-describedby" => "datatable1_info", :role => "grid", :style => "width: 100%;"}
        %thead
          %tr
            %th Name
            %th Block
            %th Lot
            %th Previous
            %th Current
            %th Consume
            %th Amount
            %th Status
            %th.sorting{"aria-controls" => "water_bill_table", "aria-label" => "Action: activate to sort column ascending", :colspan => "1", :rowspan => "1", :style => "width: 66px;", :tabindex => "0"} Action
        %tbody
          - @water_bills.each do |water_bill|
            %tr.odd{:role => "row"}
              %td= water_bill.client.name
              %td= "#{water_bill.loan_parcels.map { |lp| lp.parcel.block }.uniq.join(',')}"
              %td= "#{water_bill.loan_parcels.map { |lp| lp.parcel.lot }.uniq.join(',')}"
              %td= water_bill.previous
              %td= water_bill.current
              %td= water_bill.consume
              %td= water_bill.amount
              %td
                %span{ class: "badge #{water_bill.status == 'Paid' ? 'bg-primary' : 'bg-danger'}" }
                  = water_bill.status
              %td
                .d-flex
                  /= link_to water_bill, title: 'Show it', class: 'btn btn-action btn-info' do
                  /%i.material-icons> visibility
                  /= link_to  edit_water_bill_path(water_bill), title: 'Edit it', class: 'btn btn-action btn-warning' do
                  /%i.material-icons> edit
                  /= button_to water_bill_path(water_bill), class: 'btn btn-action btn-danger', method: :delete, data: { confirm: 'Are you sure?', remote: true } do
                  /%i.material-icons delete
:javascript
  $(document).ready( function () {
      $('#datatable_waterbill').DataTable();
  } );