.app.align-content-stretch.d-flex.flex-wrap
  = render "layouts/sidebar"
  .app-container
    .app-content
      .content-wrapper
        .container
          .page-description.d-flex.align-items-center
            .page-description-content.flex-grow-1
              %h1 Clients
            .page-description-actions
              = link_to new_client_path, class: 'btn btn-primary' do
                %i.material-icons> add
                New Client
          .card
            .card-body
              #datatable1_wrapper.dataTables_wrapper.dt-bootstrap4
                .row
                  .col-sm-12.col-md-6
                    #datatable1_length.dataTables_length
                      %label
                        Show
                        %select.custom-select.custom-select-sm.form-control.form-control-sm{"aria-controls" => "datatable1", :name => "datatable1_length"}
                          %option{:value => "10"} 10
                          %option{:value => "25"} 25
                          %option{:value => "50"} 50
                          %option{:value => "100"} 100
                        entries
                  .col-sm-12.col-md-6
                    #datatable1_filter.dataTables_filter
                      %label
                        Search:
                        %input.form-control.form-control-sm{"aria-controls" => "datatable1", :placeholder => "", :type => "search"}/
                .row
                  .col-sm-12.table-responsive
                    %table#datatable1.display.dataTable{"aria-describedby" => "datatable1_info", :role => "grid", :style => "width: 100%;"}
                      %thead
                        %tr.sorting{"aria-controls" => "client_table", "aria-label" => "Action: activate to sort column ascending", :colspan => "1", :rowspan => "1", :style => "width: 66px;", :tabindex => "0"} 
                          %th.sorting_asc{"aria-controls" => "datatable1", "aria-label" => "Name: activate to sort column descending", "aria-sort" => "ascending", :colspan => "1", :rowspan => "1", :style => "width: 208px;", :tabindex => "0"} Name
                          %th Mobile number
                          %th Email address
                          %th Address
                          %th Civil status
                          %th Occupation
                          %th Years employed
                          %th Employer name
                          %th Basic salary
                          %th Annual income
                          %th Status
                          %th.sorting{"aria-controls" => "client_table", "aria-label" => "Action: activate to sort column ascending", :colspan => "1", :rowspan => "1", :style => "width: 66px;", :tabindex => "0"} Action
                      %tbody
                        - @clients.each do |client|
                          %tr.odd{:role => "row"}     
                            %td= client.name
                            %td= client.mobile_number
                            %td= client.email_address
                            %td= client.address
                            %td= client.civil_status
                            %td= client.occupation
                            %td= client.years_employed
                            %td= client.employer_name
                            %td= client.basic_salary
                            %td= client.annual_income
                            %td= client.status
                            %td= client.remarks
                            %td.d-flex
                              = link_to 'Show', client, title: 'Show it', class: 'btn btn-icon btn-sm btn-info mr-1'
                              = link_to 'Edit', title: 'Edit it', class: 'btn btn-icon btn-sm btn-warning mr-1'
                              = link_to 'Edit', edit_client_path, :class => "btn btn-warning float-right"
                              = link_to 'Delete', client, title: 'Destroy it', class: 'btn btn-icon btn-sm btn-danger', method: :delete, data: { confirm: 'Are you sure?', remote: true }
:javascript
  $(document).ready( function () {
      $('#datatable1_wrapper').DataTable();
  } );
  