.app.align-content-stretch.d-flex.flex-wrap
  = render "layouts/sidebar"
  .app-container
    .app-content
      .content-wrapper
        .container
          .page-description.d-flex.align-items-center
            .page-description-content.flex-grow-1
              %h1 Buyers Information
            .page-description-actions
              = link_to new_client_path, class: 'btn btn-primary' do
                %i.material-icons> add
                New Client
          .card
            .card-body
              .row
                .col-sm-12.table-responsive
                  %table#datatable_clients.display.dataTable{"aria-describedby" => "datatable1_info", :role => "grid", :style => "width: 100%;"}
                    %thead
                      %tr.nowrap{:role => "row"}
                        %th.sorting_asc{"aria-controls" => "datatable1", "aria-label" => "Name: activate to sort column descending", "aria-sort" => "ascending", :colspan => "1", :rowspan => "1", :style => "width: 308px;", :tabindex => "0"} Name
                        %th Mobile number
                        %th Email address
                        %th Address
                        %th Civil status
                        %th Occupation
                        %th Basic salary
                        %th Annual income
                        %th.sorting{"aria-controls" => "client_table", "aria-label" => "Action: activate to sort column ascending", :colspan => "1", :rowspan => "1", :style => "width: 66px;", :tabindex => "0"} Status
                        %th.sorting{"aria-controls" => "client_table", "aria-label" => "Action: activate to sort column ascending", :colspan => "1", :rowspan => "1", :style => "width: 66px;", :tabindex => "0"} Remarks
                        %th.sorting{"aria-controls" => "client_table", "aria-label" => "Action: activate to sort column ascending", :colspan => "1", :rowspan => "1", :style => "width: 66px;", :tabindex => "0"} Action
                    %tbody
                      - @clients.each do |client|
                        %tr.odd{:role => "row"}  
                          
                          %td= client.name
                          %td= client.mobile_number
                          %td= client.email_address
                          %td{class: 'address-column'}
                            = truncate(client.address, length: 10)
                          %td= client.civil_status
                          %td= client.occupation
                          %td= client.basic_salary
                          %td= client.annual_income
                          %td
                            .badge{class: "badge #{badge_class_for(client.status)}"}
                              = client.status
                          %td= client.remarks
                          %td
                            .d-flex
                              = link_to client, class: 'btn btn-action btn-info' do
                                %i.material-icons> visibility
                              = link_to edit_client_path(client), class: 'btn btn-action btn-warning' do
                                %i.material-icons> edit
                              - if current_user.role == 'admin' || current_user.role == 'ceo'
                                = button_to client, class: 'btn btn-action btn-danger', method: :delete, data: { turbo_confirm: 'Confirm delete?'} do
                                  %i.material-icons delete
:javascript
  $(document).ready( function () {
      $('#datatable_clients').DataTable();
  } );
  