%section.section
  .section-header.d-mobile-none
    .page-description.d-flex.align-items-center
      %h1.flex-grow-1
        New created attachment
    .section-header-breadcrumb
      .breadcrumb-item 
        = link_to 'Dashboard', '/'
      .breadcrumb-item
        @attachment

  .card
    .card-body.form-group.mb-0
      = form_for @attachment do |f|
        - if @attachment.errors.any?
          #error_explanation
            %h2= "#{pluralize(@attachment.errors.count, 'error')} prohibited this attachment from being saved:"
            %ul
              - @attachment.errors.full_messages.each do |message|
                %li= message

        .row
                      .col-md-6.pt-3
              .field
                = f.label :vehicle_id, class: "control-label"
                - if "vehicle_id" == "authorize_route"
                  = f.text_field :authorize_route, value: @attachment.authorize_route&.name, class: 'form-control', disabled: true
                - elsif "text_field" == "text_area"
                  = f.text_area :vehicle_id, class: 'form-control', required: true, disabled: true
                - else
                  = f.text_field :vehicle_id, class: 'form-control', required: true, disabled: true
                      .col-md-6.pt-3
              .field
                = f.label :franchise_id, class: "control-label"
                - if "franchise_id" == "authorize_route"
                  = f.text_field :authorize_route, value: @attachment.authorize_route&.name, class: 'form-control', disabled: true
                - elsif "text_field" == "text_area"
                  = f.text_area :franchise_id, class: 'form-control', required: true, disabled: true
                - else
                  = f.text_field :franchise_id, class: 'form-control', required: true, disabled: true
                      .col-md-6.pt-3
              .field
                = f.label :image, class: "control-label"
                - if "image" == "authorize_route"
                  = f.text_field :authorize_route, value: @attachment.authorize_route&.name, class: 'form-control', disabled: true
                - elsif "text_field" == "text_area"
                  = f.text_area :image, class: 'form-control', required: true, disabled: true
                - else
                  = f.text_field :image, class: 'form-control', required: true, disabled: true
                      .col-md-6.pt-3
              .field
                = f.label :filename, class: "control-label"
                - if "filename" == "authorize_route"
                  = f.text_field :authorize_route, value: @attachment.authorize_route&.name, class: 'form-control', disabled: true
                - elsif "text_field" == "text_area"
                  = f.text_area :filename, class: 'form-control', required: true, disabled: true
                - else
                  = f.text_field :filename, class: 'form-control', required: true, disabled: true
          
    .card-footer.text-right.pb-3
      = link_to 'Back', attachments_path, class: "btn btn-secondary"
      = link_to 'Edit', edit_attachment_path(@attachment), class: "btn btn-warning px-5"
