.app.align-content-stretch.d-flex.flex-wrap
  .app-sidebar
    = render "layouts/sidebar"
  .app-container
    .search
      %form
        %input.form-control{"aria-label" => "Search", :placeholder => "Type here...", :type => "text"}/
      %a.toggle-search{:href => "#"}
        %i.material-icons close
    .app-header
      %nav.navbar.navbar-light.navbar-expand-lg.bg-primary
        .container-fluid
          #navbarNav.navbar-nav
          .d-flex
            %ul.navbar-nav
              %li.nav-item.hidden-on-mobile.text-white.d-flex.align-items-center
                - if user_signed_in?
                  Hello,
                  = succeed "." do
                    %strong= current_user.name
                  = link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link"
                - else
                  = link_to "Login", new_user_session_path, class: "nav-link"
    .app-content
      .content-wrapper
        .container
          .row
            .col
              .page-description
                %h1 Dashboard 
          .card.widget.widget-payment-request
            .card-body.card-header.d-flex
              %i.material-icons-two-tone> house
              %h5.card-title
                Housing
            .card-body
              .row
                .col-xl-3
                  .card.widget.widget-stats
                    .card-body
                      .widget-stats-container.d-flex
                        .widget-stats-icon.widget-stats-icon-primary
                          %i.material-icons-outlined receipt_long
                        .widget-stats-content.flex-fill
                          %span.widget-stats-title Monthly Collectibles
                          %span.widget-stats-amount ₱ 0
                          %span.widget-stats-info 0 client accounts
                    
                .col-xl-3
                  .card.widget.widget-stats
                    .card-body
                      .widget-stats-container.d-flex
                        .widget-stats-icon.widget-stats-icon-success
                          %i.material-icons-outlined payments
                        .widget-stats-content.flex-fill
                          %span.widget-stats-title Collected
                          %span.widget-stats-amount  ₱ 0
                          %span.widget-stats-info 0 client accounts
                .col-xl-3
                  .card.widget.widget-stats
                    .card-body
                      .widget-stats-container.d-flex
                        .widget-stats-icon.widget-stats-icon-danger
                          %i.material-icons-outlined warning
                        .widget-stats-content.flex-fill
                          %span.widget-stats-title Delayed Payments
                          %span.widget-stats-amount ₱ 0
                          %span.widget-stats-info 0 client accounts
                .col-xl-3
                  .card.widget.widget-stats
                    .card-body
                      .widget-stats-container.d-flex
                        .widget-stats-icon.widget-stats-icon-warning
                          %i.material-icons-outlined visibility
                        .widget-stats-content.flex-fill
                          %span.widget-stats-title For Payment Checking
                          %span.widget-stats-amount ₱ 0
                          %span.widget-stats-info 0 client accounts
            
            
          .card.widget.widget-payment-request
            .card-body.card-header.d-flex
              %i.material-icons-two-tone> water_drop
              %h5.card-title
                Water
            .card-body
              .row
                .col-xl-3
                  .card.widget.widget-stats
                    .card-body
                      .widget-stats-container.d-flex
                        .widget-stats-icon.widget-stats-icon-primary
                          %i.material-icons-outlined receipt_long
                        .widget-stats-content.flex-fill
                          %span.widget-stats-title Monthly Collectibles
                          %span.widget-stats-amount ₱ 0
                          %span.widget-stats-info 0 client accounts
                    
                .col-xl-3
                  .card.widget.widget-stats
                    .card-body
                      .widget-stats-container.d-flex
                        .widget-stats-icon.widget-stats-icon-success
                          %i.material-icons-outlined payments
                        .widget-stats-content.flex-fill
                          %span.widget-stats-title Collected
                          %span.widget-stats-amount  ₱ 0
                          %span.widget-stats-info 0 client accounts
                .col-xl-3
                  .card.widget.widget-stats
                    .card-body
                      .widget-stats-container.d-flex
                        .widget-stats-icon.widget-stats-icon-danger
                          %i.material-icons-outlined warning
                        .widget-stats-content.flex-fill
                          %span.widget-stats-title Delayed Payments
                          %span.widget-stats-amount ₱ 0
                          %span.widget-stats-info 0 client accounts
                .col-xl-3
                  .card.widget.widget-stats
                    .card-body
                      .widget-stats-container.d-flex
                        .widget-stats-icon.widget-stats-icon-warning
                          %i.material-icons-outlined visibility
                        .widget-stats-content.flex-fill
                          %span.widget-stats-title For Payment Checking
                          %span.widget-stats-amount ₱ 0
                          %span.widget-stats-info 0 client accounts
            
            