.app-content
  .content-wrapper
    .container-fluid
      / Page header
      .row.mb-4
        .col
          .page-header.d-flex.align-items-center.justify-content-between
            %h1.page-title.mb-0 Dashboard
            -# Optional button example
            / %%= link_to "Add Vehicle", new_vehicle_path, class: "btn btn-primary" 

      / Stats cards
      .row.g-3.mb-4
        - @stats.each do |stat|
          .col-12.col-md-6.col-lg-3
            .card.text-white.mb-3.h-100{ class: stat[:bg] }
              .card-body.d-flex.align-items-center.gap-3
                %i.material-icons.md-36= stat[:icon]
                .d-flex.flex-column.justify-content-center.flex-grow-1
                  %h5.card-title.mb-1= stat[:title]
                  %p.card-text.mb-0= stat[:value]

      / Vehicles by Year Model Chart
      .row.mb-4
        .col-12
          .card.mb-3
            .card-header.d-flex.align-items-center.gap-2
              %i.material-icons-two-tone.timeline
              %h5.mb-0.card-title Vehicles by Year Model
            .card-body
              = area_chart home_vehicles_by_year_path, height: "300px"

      / Other charts
      .row.g-3
        .col-12.col-lg-6
          .card.mb-3
            .card-header.d-flex.align-items-center.gap-2
              %i.material-icons-two-tone.bar_chart
              %h5.mb-0.card-title Operating and Non-operating Vehicles
            .card-body
              = column_chart home_vehicles_by_status_path, height: "300px", colors: ["#2269f4", "#90CAF9"], library: {title: { display: true, text: "Operating vs Non-Operating" }}

        .col-12.col-lg-6
          .card.mb-3
            .card-header.d-flex.align-items-center.gap-2
              %i.material-icons-two-tone.pie_chart
              %h5.mb-0.card-title Vehicle Status Distribution
            .card-body
              = pie_chart home_vehicles_by_full_status_path, height: "300px", library: { title: { display: true, text: "Vehicle Status Distribution" }, legend: { position: 'right' } }
