.app-content
  .content-wrapper
    .container
      .row
        .col
          .page-description
            %h1 Dashboard 
      .card.widget.widget-payment-request
        .card-body.card-header.d-flex
          %i.material-icons-two-tone> book
          %h5.card-title
            Current Data
        .card-body
          .row
            .col-md-3
              .card.text-white.bg-primary.mb-3
                .card-body
                  .d-flex.align-items-center.gap-2
                    %i.material-icons.md-36.mr-3 directions_bus
                    .flex.flex-col.leading-tight.space-y-0
                      %h5.card-title.text-sm.font-semibold.m-0 Total Vehicles
                      %p.card-text.text-base.m-0= @vehicles.count

            .col-md-3
              .card.text-white.bg-success.mb-3
                .card-body
                  .d-flex.align-items-center.gap-2
                    %i.material-icons.md-36.mr-3 check_circle
                    .flex.flex-col.leading-tight.space-y-0
                      %h5.card-title.text-sm.font-semibold.m-0 Registered Vehicles
                      %p.card-text.text-base.m-0= @vehicles.where(is_registered: true).count

            .col-md-3
              .card.text-white.bg-warning.mb-3
                .card-body
                  .d-flex.align-items-center.gap-2
                    %i.material-icons.md-36.mr-3 cancel
                    .flex.flex-col.leading-tight.space-y-0
                      %h5.card-title.text-sm.font-semibold.m-0 Unregistered Vehicles
                      %p.card-text.text-base.m-0= @vehicles.where(is_registered: false).count

            .col-md-3
              .card.text-white.bg-danger.mb-3
                .card-body
                  .d-flex.align-items-center.gap-2
                    %i.material-icons.md-36.mr-3 error_outline
                    .flex.flex-col.leading-tight.space-y-0
                      %h5.card-title.text-sm.font-semibold.m-0 Expired Vehicles
                      %p.card-text.text-base.m-0= @vehicles.where(status: "Expired").count
      
      .card.widget.widget-payment-request
        .card-body.card-header.d-flex
          %i.material-icons-two-tone> timeline
          %h5.card-title
            Vehicles by Year Model
        .card-body
          .row
            .col-md-12
              = area_chart home_vehicles_by_year_path
      
      .card.widget.widget-payment-request
        .card-body.card-header.d-flex
          %i.material-icons-two-tone> bar_chart
          %h5.card-title
            Operating and Non-operating Vehicles
        .card-body
          .row
            .col-md-12
              = column_chart home_vehicles_by_status_path, height: "300px", colors: ["#2269f4", "#90CAF9"], library: {title: { display: true,text: "Operating vs Non-Operating" }}
