.app-content
  .content-wrapper
    .container
      .card
        .card-header
          %div.d-flex.align-items-center
            %h4.card-title
              Events
            = link_to new_event_path, class: "btn btn-primary btn-round ms-auto btn-sm d-flex align-items-center" do
              %i.material-icons.me-1 add
              Add Event
        .card-body
          .row.g-4

            .col-md-6
              %label.form-label.text-muted Name
              %p.fw-bold.mb-0= @event.name

            .col-md-6
              %label.form-label.text-muted Event Type
              %span.badge.rounded-pill.bg-primary
                = @event.event_type.titleize

            .col-md-6
              %label.form-label.text-muted Event Date
              %p.mb-0
                = @event.event_date.strftime("%B %d, %Y %I:%M %p")

            .col-md-6
              %label.form-label.text-muted Location
              %p.mb-0= @event.location

            .col-12
              %label.form-label.text-muted Description
              .p-3.bg-light.rounded
                = @event.description

        .card-footer.text-end
          = link_to 'Back', events_path, class: "btn btn-light me-2"
          = link_to 'Edit', edit_event_path(@event), class: "btn btn-warning px-4"
