%div{id: dom_id(adt)}
  %p
    %strong Reservist:
    = adt.reservist_id

  %p
    %strong Subject:
    = adt.subject

  %p
    %strong Date of enlistment:
    = adt.date_of_enlistment

  %p
    %strong Special order no:
    = adt.special_order_no

  %p
    %strong Special order no date:
    = adt.special_order_no_date

  %p
    %strong Designation:
    = adt.designation

  %p
    %strong Squadron:
    = adt.squadron

