= form_with(model: adt) do |form|
  - if adt.errors.any?
    %div{style: "color: red"}
      %h2= "#{pluralize(adt.errors.count, "error")} prohibited this adt from being saved:"

      %ul
        - adt.errors.each do |error|
          %li= error.full_message

  %div
    = form.label :reservist_id, style: "display: block"
    = form.text_field :reservist_id

  %div
    = form.label :subject, style: "display: block"
    = form.text_field :subject

  %div
    = form.label :date_of_enlistment, style: "display: block"
    = form.date_field :date_of_enlistment

  %div
    = form.label :special_order_no, style: "display: block"
    = form.text_field :special_order_no

  %div
    = form.label :special_order_no_date, style: "display: block"
    = form.date_field :special_order_no_date

  %div
    = form.label :designation, style: "display: block"
    = form.text_field :designation

  %div
    = form.label :squadron, style: "display: block"
    = form.text_field :squadron

  %div
    = form.submit
