%p{style: "color: green"}= notice

= render @adt

%div
  = link_to "Edit this adt", edit_adt_path(@adt)
  |
  = link_to "Back to adts", adts_path

  = button_to "Destroy this adt", @adt, method: :delete
