
= form_for @loan do |f|
  - if @loan.errors.any?
    #error_explanation
      %h2= "#{pluralize(@loan.errors.count, "error")} prohibited this loan from being saved:"
      %ul
        - @loan.errors.full_messages.each do |message|
          %li= message
  .card-body.pb-0
    .row
      .form-group.col-12.pt-2
        .form-row
          .col-md-6.pt-3
            .field
              .field
              = f.label :client_id
              = f.select :client_id, options_for_select(Client.all.order(:name).collect{ |u| [u.name, u.id]}), {required: true}, :class=>"form-control"
          .col-md-6.pt-3
            .field
              = f.label :blocklot
              = f.select :blocklot, options_for_select(Parcel.all.order(:block).collect{ |u| ["#{u.subdivision.short_code} Block #{u.block} - Lot #{u.lot}", u.id]}), {required: true}, :class=>"form-control"
              %div
              %strong Select Options:
              %select#multiple-checkboxes{:multiple => "multiple"}
                %option{:value => "Option 1"} Option 1
                %option{:value => "Option 2"} Option 2
                %option{:value => "Option 3"} Option 3
                %option{:value => " Option 4"} Option 4
                %option{:value => "Option 5"} Option 5
                %option{:value => "Option 6t"} Option 6


          .col-md-6.pt-3
            .field
              = f.label "terms in years"
              = f.number_field :terms, class: 'form-control', required:  true
          .col-md-6.pt-3
            .field
              = f.label :model_house
              = f.text_field :model_house, class: 'form-control', required:  true
          .col-md-6.pt-3
            .field
              = f.label :loan_financing
              = f.text_field :loan_financing, class: 'form-control', required:  true
          .col-md-6.pt-3
            .field
              = f.label :contract_price
              = f.number_field :contract_price, class: 'form-control', required:  true
          .col-md-6.pt-3
            .field
              = f.label :processing_fees
              = f.number_field :processing_fees, class: 'form-control', required:  true
          .col-md-6.pt-3
            .field
              = f.label :downpayment
              = f.number_field :downpayment, class: 'form-control', required:  true
          .col-md-6.pt-3
            .field
              = f.label 'interest in %'
              = f.number_field :interest, class: 'form-control', required:  true, value: 18, readonly: true
          .col-md-6.pt-3
            .field
              = f.label :principal
              = f.number_field :principal, class: 'form-control', required:  true
          .col-md-6.pt-3
            .field
              = f.label :monthly_amort
              = f.number_field :monthly_amort, class: 'form-control', required:  true
          .col-md-6.pt-3
            .field
              = f.label :contract_date
              = f.date_field :contract_date, class: 'form-control', required:  true
          .col-md-6.pt-3
            .field
              = f.label :amortization_start_date
              = f.date_field :amortization_start_date, class: 'form-control', required:  true
          .col-md-6.pt-3
            .field
              = f.label :balance
              = f.number_field :balance, class: 'form-control', required:  true
          .col-md-6.pt-3
            .field
              = f.label :remarks
              = f.text_area :remarks, class: 'form-control', required:  true
          .col-md-6.pt-3
            .field
              = f.label :status
              = f.text_field :status, class: 'form-control', required:  true
          .col-md-6.pt-3
            .field
              = f.label :broker
              = f.text_field :broker, class: 'form-control'
        .card-footer
    = link_to 'Back', loans_path, class: 'btn btn-secondary'
    = f.submit 'Save Changes', class: 'btn btn-warning float-right'

:javascript
  $(document).ready(function() {
    $('#multiple-checkboxes').multiselect({
      includeSelectAllOption: true,
    });
  });
      
