.app.align-content-stretch.d-flex.flex-wrap
  = render "layouts/sidebar"
  .app-container
    .app-content
      .content-wrapper
        .container
          .page-description.d-flex.align-items-center
            .page-description-content.flex-grow-1
              %h1 Housing Loans
            .page-description-actions
              = link_to new_loan_path, class: 'btn btn-primary' do
                %i.material-icons> add
                New Loan
          .card
            .card-body
              #datatable1_wrapper.dataTables_wrapper.dt-bootstrap4
                .row
                  .col-sm-12.col-md-6
                    #datatable1_length.dataTables_length
                      %label
                        Show
                        %select.custom-select.custom-select-sm.form-control.form-control-sm{"aria-controls" => "datatable1", :name => "datatable1_length"}
                          %option{:value => "10"} 10
                          %option{:value => "25"} 25
                          %option{:value => "50"} 50
                          %option{:value => "100"} 100
                        entries
                  .col-sm-12.col-md-6
                    #datatable1_filter.dataTables_filter
                      %label
                        Search:
                        %input.form-control.form-control-sm{"aria-controls" => "datatable1", :placeholder => "", :type => "search"}/
                .row
                  .col-sm-12.table-responsive
                    %table#datatable1.display.dataTable{"aria-describedby" => "datatable1_info", :role => "grid", :style => "width: 100%;"}
                      %thead
                        %tr.sorting{"aria-controls" => "client_table", "aria-label" => "Action: activate to sort column ascending", :colspan => "1", :rowspan => "1", :style => "width: 66px;", :tabindex => "0"}
                          %th Client
                          %th Blocklot
                          %th Terms
                          %th Model house
                          %th Loan financing
                          %th Contract price
                          %th Processing fees
                          %th Downpayment
                          %th Interest
                          %th Principal
                          %th Monthly amort
                          %th Contract date
                          %th Amortization start date
                          %th Balance
                          %th Remarks
                          %th Status
                          %th Broker
                          %th.sorting{"aria-controls" => "loan_table", "aria-label" => "Action: activate to sort column ascending", :colspan => "1", :rowspan => "1", :style => "width: 66px;", :tabindex => "0"} Action
                      %tbody
                        - @loans.each do |loan|
                          %tr.odd{:role => "row"}     
                            %td= loan.client
                            %td= loan.blocklot
                            %td= loan.terms
                            %td= loan.model_house
                            %td= loan.loan_financing
                            %td= loan.contract_price
                            %td= loan.processing_fees
                            %td= loan.downpayment
                            %td= loan.interest
                            %td= loan.principal
                            %td= loan.monthly_amort
                            %td= loan.contract_date
                            %td= loan.amortization_start_date
                            %td= loan.balance
                            %td= loan.remarks
                            %td= loan.status
                            %td= loan.broker
                            %td
                              = link_to 'Show', loan, title: 'Show it', class: 'btn btn-icon btn-sm btn-info mr-1'
                              = link_to 'Edit', edit_loan_path(loan), title: 'Edit it', class: 'btn btn-icon btn-sm btn-warning mr-1'
                              = button_to "delete", loan, class: 'btn btn-icon btn-sm btn-danger', method: :delete, data: { turbo_confirm: 'Confirm delete?'}
:javascript
  $(document).ready( function () {
      $('#datatable1_wrapper').DataTable();
  } );
  