.app.align-content-stretch.d-flex.flex-wrap
  = render "layouts/sidebar"
  .app-container
    .app-content
      .content-wrapper
        .container
          .page-description.d-flex.align-items-center
            .page-description-content.flex-grow-1
              %h1 Housing Loans
            .page-description-actions
              = link_to new_loan_path, class: 'btn btn-primary' do
                %i.material-icons> add
                New Loan
          .card
            .card-body
              #datatable1_wrapper.dataTables_wrapper.dt-bootstrap4
                .row
                  .col-sm-12.col-md-6
                    #datatable1_length.dataTables_length
                      %label
                        Show
                        %select.custom-select.custom-select-sm.form-control.form-control-sm{"aria-controls" => "datatable1", :name => "datatable1_length"}
                          %option{:value => "10"} 10
                          %option{:value => "25"} 25
                          %option{:value => "50"} 50
                          %option{:value => "100"} 100
                        entries
                  .col-sm-12.col-md-6
                    #datatable1_filter.dataTables_filter
                      %label
                        Search:
                        %input.form-control.form-control-sm{"aria-controls" => "datatable1", :placeholder => "", :type => "search"}/
                .row
                  .col-sm-12.table-responsive
                    %table#datatable1.display.dataTable{"aria-describedby" => "datatable1_info", :role => "grid", :style => "width: 100%;"}
                      %thead
                        %tr
                          %th Client
                          %th Blocklot
                          %th Terms
                          %th Model house
                          %th Loan financing
                          %th Contract price
                          %th Processing fees
                          %th Downpayment
                          %th Interest
                          // %th Principal
                          %th Monthly amort
                          %th Contract date
                          %th Amortization start date
                          %th Balance
                          %th Remarks
                          %th Status
                          %th Broker
                          %th.sorting{"aria-controls" => "loan_table", "aria-label" => "Action: activate to sort column ascending", :colspan => "1", :rowspan => "1", :style => "width: 66px;", :tabindex => "0"} Action
                      %tbody
                        - @loans.each do |loan|
                          %tr.odd{:role => "row"} 
                            %td= loan.client.name
                            %td
                              - loan.display_parcels.each do |info|
                                %p= info
                            %td= loan.terms
                            %td= loan.model_house
                            %td= loan.loan_financing
                            %td= number_to_currency(loan.contract_price, precision: 2, delimiter: ",", unit: "₱")
                            %td= number_to_currency(loan.processing_fees, precision: 2, delimiter: ",", unit: "₱")
                            %td= number_to_currency(loan.downpayment, precision: 2, delimiter: ",", unit: "₱")
                            %td= "#{loan.interest.to_i}%"
                            // %td= number_to_currency(loan.principal, unit: "£", separator: ",", delimiter: ".")
                            %td= number_to_currency(loan.monthly_amort, precision: 2, delimiter: ",", unit: "₱")
                            %td= loan.contract_date
                            %td= loan.amortization_start_date
                            %td= number_to_currency(loan.balance, unit: "₱", separator: ".", delimiter: ",")
                            %td= loan.remarks
                            %td
                              .badge.badge-primary= loan.status
                            %td= loan.broker
                            %td.d-flex
                              = link_to loan, class: 'btn btn-action btn-info' do
                                %i.material-icons> visibility
                              = link_to edit_loan_path(loan), class: 'btn btn-action btn-warning' do
                                %i.material-icons> edit
                              = button_to loan, class: 'btn btn-action btn-danger', method: :delete, data: { turbo_confirm: 'Confirm delete?'} do
                                %i.material-icons delete
:javascript
  $(document).ready( function () {
      $('#datatable1_wrapper').DataTable();
  } );
  