.app.align-content-stretch.d-flex.flex-wrap
  = render "layouts/sidebar"
  .app-container
    .app-content
      .content-wrapper
        .container
          .page-description.d-flex.align-items-center
            .page-description-content.flex-grow-1
              %h1 Payment
          .card
            .card-body
              %table#profiles.table.table-striped.table-bordered.nowrap
                %thead
                  %tr
                    %th #
                    %th Due Date
                    %th M.A
                    %th Interest
                    %th Principal
                    %th Balance

                %tbody
                  - total_principal = 0
                  - total_interest = 0
                  %tr
                    %td 
                      = @loanItem.term
                    %td 
                      = @loanItem.duedate.strftime("%b %d %Y")
                    %td
                      = format_num @loanItem.monthly_amort
                    %td
                      = format_num @loanItem.interest
                      - total_interest += @loanItem.interest
                    %td
                      = format_num @loanItem.principal
                      - total_principal += @loanItem.principal                    
                    %td
                      = format_num @loanItem.balance
              = form_for 'customer_payments', url: process_pay_loan_path(@loan), html: { id: 'customer_payments' } do |f|
                .modal-header
                  %h5#exampleModalLabel.modal-title.new_keyword_modal_title Add Payment
                .modal-body
                  .cont@loanItemner-fluid
                    .row
                      .col-md-6
                        .field
                          = f.label 'payment_date', :class=>"text-muted"
                          = f.date_field :payment_date, class: 'form-control', id: "payment_date", required:  true
                        .field
                          = f.label :mode_of_payment, :class=>"text-muted"
                          = f.select :mode_of_payment, options_for_select([["Cash"],["Bank Transfer"],["PDC"]]), {}, :class=>"form-control", required:  true
                        .field
                          = f.label :bank_name, :class=>"text-muted"
                          = f.select :bank_name, options_for_select([[""], ["BDO"],["Metrobank"],["BPI"]]), {}, :class=>"form-control"
                        .field
                          = f.label :or_num, :class=>"text-muted"
                          = f.number_field :or_num, :class=>"form-control", id: "or_num"
                      .col-md-6
                        .field
                          = f.number_field :amort, id: "amort", :class=>"form-control", value: number_with_precision(@loanItem.monthly_amort, precision: 2), disabled:true, hidden:true
                          = f.label 'amount', :class=>"text-muted"
                          = f.number_field :payment, :class=>"form-control",id: "payment", step: '0.01', required:  true, onchange: "javascript: comp_advance_payment_and_penalty()"
                        .field
                          = f.label :penalty, :class=>"text-muted"
                          = f.number_field :penalty, :class=>"form-control", id: "penalty", step: '0.01', onchange: "javascript: comp_advance_payment_and_penalty()"
                        .field
                          = f.label 'ITP', :class=>"text-muted"
                          = f.number_field :advance_payment, :class=>"form-control", step: '0.01', id: "advance", readonly: true
                        .field
                          = f.label 'total', :class=>"text-muted"
                          = f.number_field :total, :class=>"form-control", step: '0.01', id: "total", readonly: true
                      .col-md-12
                        .field
                          = f.label "Remark", :class=>"text-muted"
                          = f.text_area :others, :class=>"form-control", placeholder: "Add additional notes..."
                .modal-footer
                  .actions
                    = f.submit 'Pay', :class=>"btn btn-sm btn-primary col-12 mt-3"

:javascript
  function comp_advance_payment_and_penalty(){
    penalty = parseFloat($("#penalty").val()) || 0.0
    payment = parseFloat($("#payment").val()) || 0.0
    amort = parseFloat($("#amort").val()) || 0.0
    $("#total").val((penalty+payment).toFixed(2))
    if (payment > amort) $("#advance").val(parseFloat(payment-amort).toFixed(2))
  }