
.app.align-content-stretch.d-flex.flex-wrap
  .app-sidebar
    = render "layouts/sidebar"
  .app-container
    .app-content
      .content-wrapper
        .container
          .row
            .card
              .card-header
                %h2 Client Information
              .card-body
                = form_for @loan do |f|
                  - if @loan.errors.any?
                    #error_explanation
                      %h2= "#{pluralize(@loan.errors.count, "error")} prohibited this loan from being saved:"
                      %ul
                        - @loan.errors.full_messages.each do |message|
                          %li= message
                  .d-flex
                    .col-md-6
                      = f.label :client, :class => "form-label"
                      = f.text_field :client, class: 'form-control', required:  true, disabled: true, value: @loan.client.name
                    .col-md-6
                      = f.label :blocklot, :class => "form-label"
                      - @loan.display_parcels.each do |info|
                        %p.form-control= info
                  .d-flex
                    .col-md-6
                      = f.label :terms, :class => "form-label"
                      = f.number_field :terms, class: 'form-control', required:  true, disabled: true
                    .col-md-6
                      = f.label :model_house, :class => "form-label"
                      = f.text_field :model_house, class: 'form-control', required:  true, disabled: true
                  .d-flex
                    .col-md-6
                      = f.label :loan_financing, :class => "form-label"
                      = f.text_field :loan_financing, class: 'form-control', required:  true, disabled: true
                    .col-md-6
                      = f.label :contract_price, :class => "form-label"
                      = f.text_field :contract_price, class: 'form-control', required:  true, disabled: true
                  .d-flex
                    .col-md-6
                      = f.label :processing_fees, :class => "form-label"
                      = f.text_field :processing_fees, class: 'form-control', required:  true, disabled: true
                    .col-md-6
                      = f.label :downpayment, :class => "form-label"
                      = f.text_field :downpayment, class: 'form-control', required:  true, disabled: true
                  .d-flex
                    .col-md-6
                      = f.label :interest, :class => "form-label"
                      = f.text_field :interest, class: 'form-control', required:  true, disabled: true
                    .col-md-6
                      = f.label :principal, :class => "form-label"
                      = f.text_field :principal, class: 'form-control', required:  true, disabled: true
                  .d-flex
                    .col-md-6
                      = f.label :monthly_amort, :class => "form-label"
                      = f.text_field :monthly_amort, class: 'form-control', required:  true, disabled: true
                    .col-md-6
                      = f.label :contract_date, :class => "form-label"
                      = f.date_field :contract_date, class: 'form-control', required:  true, disabled: true
                  .d-flex
                    .col-md-6
                      = f.label :amortization_start_date, :class => "form-label"
                      = f.date_field :amortization_start_date, class: 'form-control', required:  true, disabled: true
                    .col-md-6
                      = f.label :balance, :class => "form-label"
                      = f.text_field :balance, class: 'form-control', required:  true, disabled: true
                  .d-flex
                    .col-md-6
                      = f.label :remarks, :class => "form-label"
                      = f.text_area :remarks, class: 'form-control', required:  true, disabled: true
                    .col-md-6
                      = f.label :status, :class => "form-label"
                      = f.text_field :status, class: 'form-control', required:  true, disabled: true
                  .d-flex
                    .col-md-6
                      = f.label :broker, :class => "form-label"
                      = f.text_field :broker, class: 'form-control', required:  true, disabled: true
                    .col-md-6
                      = f.label :Action, :class => "form-label"
                      %br
                      = link_to 'Back', loans_path, :class => "btn btn-secondary"
                      = link_to 'Edit', edit_loan_path(@loan), :class => "btn btn-primary float-right"
              
                
              .card
                .card-header
                  %h2 Statement of Account
                .card-body
                  %table#profiles.table.table-striped.table-bordered.nowrap
                    %thead
                      %tr
                        %th #
                        %th Due Date
                        %th M.A
                        %th Interest
                        %th Principal
                        %th Balance
                        %th Status

                    %tbody
                      %tr
                        %td
                        %td
                        %th 
                        %td
                        %td
                        %td 
                          = format_num @loan.contract_price - (@loan.downpayment + @loan.processing_fees)
                        %td 
                      - total_principal = 0
                      - total_interest = 0
                      - @loan.loan_items.order("duedate asc").each do |ai|
                        %tr
                          %td 
                            = ai.term
                          %td 
                            = ai.duedate.strftime("%b %d %Y")
                          %td
                            = format_num ai.monthly_amort
                          %td
                            = format_num ai.interest
                            - total_interest += ai.interest
                          %td
                            = format_num ai.principal
                            - total_principal += ai.principal                    
                          %td
                            = format_num ai.balance
                          %td.badges
                            - if ai.is_paid == true
                              Paid
                            - else
                              Unpaid
                      %tr
                        %td
                          %strong.hidden= @loan.loan_items.count+1
                        %td
                          Total
                        %td
                          = format_num total_principal
                        %td
                          = format_num total_interest
                        %td
                        %td
                        %td

:javascript
  $(document).ready(function(){
    $(".js-example-tokenizer").select2({
      tags: true,
      tokenSeparators: [',', ' ']
    });
    $('select').select2({
      createTag: function (params) {
        // Don't offset to create a tag if there is no @ symbol
        if (params.term.indexOf('@') === -1) {
          // Return null to disable tag creation
          return null;
        }

        return {
          id: params.term,
          text: params.term
        }
      }
    });
    $('select').select2({
      createTag: function (params) {
        var term = $.trim(params.term);

        if (term === '') {
          return null;
        }

        return {
          id: term,
          text: term,
          newTag: true // add additional parameters
        }
      }
    });
  });