%section.section
  .card
    .card-body.form-group.mb-0
      = form_for @franchise do |f|
        - if @franchise.errors.any?
          #error_explanation
            %h2= "#{pluralize(@franchise.errors.count, 'error')} prohibited this franchise from being saved:"
            %ul
              - @franchise.errors.full_messages.each do |message|
                %li= message

        .row
          .col-md-6.pt-3
            .field
              = f.label :case_num, class: "control-label"
              = f.text_field :case_num, class: 'form-control', required: true, disabled: true

          .col-md-6.pt-3
            .field
              = f.label :operator, class: "control-label"
              = f.text_field :operator, class: 'form-control', required: true, disabled: true

          .col-md-6.pt-3
            .field
              = f.label :auth_num_of_units, class: "control-label"
              = f.number_field :auth_num_of_units, class: 'form-control', required: true, disabled: true

          .col-md-6.pt-3
            .field
              = f.label :date_granted, class: "control-label"
              = f.date_field :date_granted, class: 'form-control', required: true, disabled: true

          .col-md-6.pt-3
            .field
              = f.label :expiry_date, class: "control-label"
              = f.date_field :expiry_date, class: 'form-control', required: true, disabled: true

          .col-md-6.pt-3
            .field
              = f.label :business_address, class: "control-label"
              = f.text_area :business_address, class: 'form-control', required: true, disabled: true

          .col-md-6.pt-3
            .field
              = f.label :authorize_route, class: "control-label"
              = f.text_field :authorize_route, value: @franchise.authorize_route&.name, class: 'form-control', disabled: true

          .col-md-6.pt-3
            .field
              = f.label :denomination, class: "control-label"
              = f.text_field :denomination, class: 'form-control', required: true, disabled: true

          .col-md-6.pt-3
            .field
              = f.label :year_confirmed, class: "control-label"
              = f.text_field :year_confirmed, class: 'form-control', required: true, disabled: true

          .col-md-6.pt-3
            .field
              = f.label :status, class: "control-label"
              = f.text_field :status, class: 'form-control', required: true, disabled: true

          .col-md-6.pt-3
            .field
              = f.label :remarks, class: "control-label"
              = f.text_area :remarks, class: 'form-control', required: true, disabled: true

          .col-md-6.pt-3
            .field
              = f.label :num_of_cpc, class: "control-label"
              = f.number_field :num_of_cpc, class: 'form-control', required: true, disabled: true

          .col-md-6.pt-3
            .field
              = f.label :cpc_validity, class: "control-label"
              = f.date_field :cpc_validity, class: 'form-control', required: true, disabled: true

    .card-footer.text-right.pb-3
      = link_to 'Back', franchises_path, class: "btn btn-secondary"
      = link_to 'Edit', edit_franchise_path(@franchise), class: "btn btn-warning px-5"
