%section.section
  .section-header.d-mobile-none
    %h1 New created franchise
    .section-header-breadcrumb
      .breadcrumb-item 
        = link_to 'Dashboard', '/'
      .breadcrumb-item
        @franchise
  .col-12.col-md-12.col-lg-12
    .card
      .card-body
        = form_for @franchise do |f|
          - if @franchise.errors.any?
            #error_explanation
              %h2= "#{pluralize(@franchise.errors.count, "error")} prohibited this franchise from being saved:"
              %ul
                - @franchise.errors.full_messages.each do |message|
                  %li= message
          .form-row.pt-3
            .col-md-6
              .field
                = f.label :case_num
                = f.text_field :case_num, class: 'form-control', required:  true, disabled: true
            .col-md-6
              .field
                = f.label :operator
                = f.text_field :operator, class: 'form-control', required:  true, disabled: true
            .col-md-6
              .field
                = f.label :auth_num_of_units
                = f.number_field :auth_num_of_units, class: 'form-control', required:  true, disabled: true
            .col-md-6
              .field
                = f.label :date_granted
                = f.date_field :date_granted, class: 'form-control', required:  true, disabled: true
            .col-md-6
              .field
                = f.label :expiry_date
                = f.date_field :expiry_date, class: 'form-control', required:  true, disabled: true
            .col-md-6
              .field
                = f.label :business_address
                = f.text_area :business_address, class: 'form-control', required:  true, disabled: true
            .col-md-6
              .field
                = f.label :authorize_route
                = f.text_field :authorize_route, class: 'form-control', required:  true, disabled: true
            .col-md-6
              .field
                = f.label :denomination
                = f.text_field :denomination, class: 'form-control', required:  true, disabled: true
            .col-md-6
              .field
                = f.label :year_confirmed
                = f.text_field :year_confirmed, class: 'form-control', required:  true, disabled: true
            .col-md-6
              .field
                = f.label :status
                = f.text_field :status, class: 'form-control', required:  true, disabled: true
            .col-md-6
              .field
                = f.label :remarks
                = f.text_area :remarks, class: 'form-control', required:  true, disabled: true
            .col-md-6
              .field
                = f.label :num_of_cpc
                = f.number_field :num_of_cpc, class: 'form-control', required:  true, disabled: true
            .col-md-6
              .field
                = f.label :cpc_validity
                = f.date_field :cpc_validity, class: 'form-control', required:  true, disabled: true
          .card-footer.pt-3
        
        = link_to 'Back', franchises_path, :class => "btn btn-secondary"
        = link_to 'Edit', edit_franchise_path(@franchise), :class => "btn btn-warning float-right"

