%section.section
  .section-header.d-mobile-none
    %h1 <%= plural_table_name %>
    .section-header-breadcrumb
      .breadcrumb-item 
        = link_to 'Dashboard', '/'
      .breadcrumb-item
        List of <%= plural_table_name %>
  .section-body
    .card
      .card-header
        %h4
          List of <%= plural_table_name %>
        .card-header-action
          = link_to icon('fas fa-plus', 'New <%= human_name %>'), new_<%= singular_table_name %>_path, class: 'btn btn-icon icon-left btn-primary' 
          = render 'shared/card_dropdown' do 
            = link_to icon('fas fa-print', 'Print Page'), 'javascript:window.print()', class: 'dropdown-item has-icon' 
            = link_to icon('fas fa-download', 'Export Data'), <%= plural_table_name %>_path(format: :xlsx, q: request.params[:q]), class: 'dropdown-item has-icon' 
      .card-body
        #<%= singular_table_name %>_wrapper.dataTables_wrapper.container-fluid.dt-bootstrap4.no-footer
          .row
            .col-sm-12
              %table.table-responsive#<%= singular_table_name %>_table.table.table-striped.dataTable.no-footer{"aria-describedby" => "<%= singular_table_name %>_table_info", :role => "grid"}
                %thead
                  %tr.sorting{"aria-controls" => "<%= singular_table_name %>_table", "aria-label" => "Action: activate to sort column ascending", :colspan => "1", :rowspan => "1", :style => "width: 66px;", :tabindex => "0"} 
                    <% for attribute in attributes -%>
%th <%= attribute.human_name %>
                    <% end -%>
%th.sorting{"aria-controls" => "<%= singular_table_name %>_table", "aria-label" => "Action: activate to sort column ascending", :colspan => "1", :rowspan => "1", :style => "width: 66px;", :tabindex => "0"} Action
                %tbody
                  - @<%= plural_table_name %>.each do |<%= singular_table_name %>|
                    %tr.odd{:role => "row"}     
                    <% for attribute in attributes -%>
  %td= <%= singular_table_name %>.<%= attribute.name %>
                    <% end -%>
  %td
                        = link_to icon('fas fa-eye'), <%= singular_table_name %>, title: 'Show it', class: 'btn btn-icon btn-sm btn-info mr-1'
                        = link_to icon('fas fa-edit'), edit_<%= singular_table_name %>_path(<%= singular_table_name %>), title: 'Edit it', class: 'btn btn-icon btn-sm btn-warning mr-1'
                        = link_to icon('fas fa-trash'), <%= singular_table_name %>, title: 'Destroy it', class: 'btn btn-icon btn-sm btn-danger', method: :delete, data: { confirm: 'Are you sure?', remote: true }
:javascript
  $(document).ready( function () {
      $('#<%= singular_table_name %>_table').DataTable();
  } );
  