.app-content
  .content-wrapper
    .container
      .page-description.d-flex.align-items-center
        %h1.flex-grow-1
          Personnels
        .page-description-actions
          = link_to new_personnel_path, class: 'btn btn-primary' do
            %i.material-icons> add
            New personnel

      .card
        .card-body
          #personnelstable_wrapper.dataTables_wrapper.dt-bootstrap4
            .row
              .col-sm-12.table-responsive
                %table#personnelstable.display.dataTable{"aria-describedby" => "personnelstable_info", :role => "grid", :style => "width: 100%;"}
                  %thead
                    %tr
                      %th Fullname
                      %th Role
                      %th Contact Number
                      %th Branch Location
                      %th Status
                      %th Action
                  %tbody
                    - @personnels.each do |personnel|
                      %tr.odd{ role: "row" }
                        %td= personnel.fullname
                        %td= personnel.role
                        %td= personnel.contact_number
                        %td= personnel.branch_location
                        %td
                          - if personnel.is_enabled?
                            %span.bg-success.text-white.text-xs.font-semibold.px-2.5.py-0.5.rounded-full Enabled
                          - else
                            %span.bg-danger.text-white.text-xs.font-semibold.px-2.5.py-0.5.rounded-full Disabled



                        %td.d-flex.gap-1
                          - if personnel.is_enabled?
                            = link_to change_state_personnel_path(personnel),
                                      method: :post,
                                      data: { turbo_confirm: "Are you sure you want to Deactivate #{personnel.fullname}?" },
                                      title: "Deactivate",
                                      class: "action-icon btn btn-icon btn-sm btn-danger" do
                              %i.material-icons block
                          - else
                            = link_to change_state_personnel_path(personnel),
                                      method: :post,
                                      data: { turbo_confirm: "Are you sure you want to Activate #{personnel.fullname}?" },
                                      title: "Activate" ,
                                      class: "action-icon btn btn-icon btn-sm btn-success" do
                              %i.material-icons check_circle
                          = link_to personnel, title: 'Show it', class: 'btn btn-icon btn-sm btn-info mr-1' do
                            %i.material-icons visibility
                          = link_to edit_personnel_path(personnel), title: 'Edit it', class: 'btn btn-icon btn-sm btn-warning mr-1' do
                            %i.material-icons edit

:javascript
  $(document).ready(function () {
    $('#personnelstable').DataTable();
  });
