.app-content
  .content-wrapper
    .container
      .page-description.d-flex.align-items-center
        %h1.flex-grow-1
          Personnels
        .page-description-actions
          = link_to new_personnel_path, class: 'btn btn-primary' do
            %i.material-icons> add

      .card
        .card-body
          #personnelstable_wrapper.dataTables_wrapper.dt-bootstrap4
            .row
              .col-sm-12.table-responsive
                %table#personnelstable.display.dataTable{"aria-describedby" => "personnelstable_info", :role => "grid", :style => "width: 100%;"}
                  %thead
                    %tr
                      %th Fullname
                      %th Role
                      %th Contact Number
                      %th Branch Location
                      %th Status
                      %th Action
                  %tbody
                    - @personnels.each do |personnel|
                      %tr.odd{ role: "row" }
                        %td= personnel.fullname
                        %td= personnel.role
                        %td= personnel.contact_number
                        %td= personnel.branch_location

                        %td
                          .form-check.form-switch
                            %input.form-check-input{
                              type: "checkbox",
                              role: "switch",
                              id: "toggleSwitch#{personnel.id}",
                              checked: personnel.is_enabled?,
                              data: { url: change_state_personnel_path(personnel) }
                            }
                            %label.form-check-label{ for: "toggleSwitch#{personnel.id}" }
                              = personnel.is_enabled? ? "Active" : "Inactive"

                        %td.d-flex.gap-1
                          = link_to personnel, title: 'Show it', class: 'btn btn-icon btn-sm btn-info mr-1' do
                            %i.material-icons visibility
                          = link_to edit_personnel_path(personnel), title: 'Edit it', class: 'btn btn-icon btn-sm btn-warning mr-1' do
                            %i.material-icons edit




:javascript
  $(document).ready(function () {
    $('#personnelstable').DataTable();

    // handle toggle switch
    $(document).on("change", ".form-check-input[data-url]", function () {
      let checkbox = $(this);
      let url = checkbox.data("url");
      let enabled = checkbox.is(":checked");

      $.ajax({
        url: url,
        type: "POST",
        data: { is_enabled: enabled },
        headers: { "X-CSRF-Token": $('meta[name="csrf-token"]').attr("content") },
        success: function () {
          let label = checkbox.siblings("label.form-check-label");
          label.text(enabled ? "Active" : "Inactive");
        },
        error: function () {
          alert("Failed to update state");
          checkbox.prop("checked", !enabled); // rollback if error
        }
      });
    });
  });
