%section.section
  .section-header.d-mobile-none
    .page-description.d-flex.align-items-center
      %h1.flex-grow-1
        New created personnel
    .section-header-breadcrumb
      .breadcrumb-item 
        = link_to 'Dashboard', '/'
      .breadcrumb-item
        @personnel

  .card
    .card-body.form-group.mb-0
      = form_for @personnel do |f|
        - if @personnel.errors.any?
          #error_explanation
            %h2= "#{pluralize(@personnel.errors.count, 'error')} prohibited this personnel from being saved:"
            %ul
              - @personnel.errors.full_messages.each do |message|
                %li= message

        .row
                      .col-md-6.pt-3
              .field
                = f.label :given_name, class: "control-label"
                - if "given_name" == "authorize_route"
                  = f.text_field :authorize_route, value: @personnel.authorize_route&.name, class: 'form-control', disabled: true
                - elsif "text_field" == "text_area"
                  = f.text_area :given_name, class: 'form-control', required: true, disabled: true
                - else
                  = f.text_field :given_name, class: 'form-control', required: true, disabled: true
                      .col-md-6.pt-3
              .field
                = f.label :last_name, class: "control-label"
                - if "last_name" == "authorize_route"
                  = f.text_field :authorize_route, value: @personnel.authorize_route&.name, class: 'form-control', disabled: true
                - elsif "text_field" == "text_area"
                  = f.text_area :last_name, class: 'form-control', required: true, disabled: true
                - else
                  = f.text_field :last_name, class: 'form-control', required: true, disabled: true
                      .col-md-6.pt-3
              .field
                = f.label :role, class: "control-label"
                - if "role" == "authorize_route"
                  = f.text_field :authorize_route, value: @personnel.authorize_route&.name, class: 'form-control', disabled: true
                - elsif "text_field" == "text_area"
                  = f.text_area :role, class: 'form-control', required: true, disabled: true
                - else
                  = f.text_field :role, class: 'form-control', required: true, disabled: true
                      .col-md-6.pt-3
              .field
                = f.label :contact_number, class: "control-label"
                - if "contact_number" == "authorize_route"
                  = f.text_field :authorize_route, value: @personnel.authorize_route&.name, class: 'form-control', disabled: true
                - elsif "text_field" == "text_area"
                  = f.text_area :contact_number, class: 'form-control', required: true, disabled: true
                - else
                  = f.text_field :contact_number, class: 'form-control', required: true, disabled: true
                      .col-md-6.pt-3
              .field
                = f.label :user_id, class: "control-label"
                - if "user_id" == "authorize_route"
                  = f.text_field :authorize_route, value: @personnel.authorize_route&.name, class: 'form-control', disabled: true
                - elsif "text_field" == "text_area"
                  = f.text_area :user_id, class: 'form-control', required: true, disabled: true
                - else
                  = f.text_field :user_id, class: 'form-control', required: true, disabled: true
                      .col-md-6.pt-3
              .field
                = f.label :branch_location, class: "control-label"
                - if "branch_location" == "authorize_route"
                  = f.text_field :authorize_route, value: @personnel.authorize_route&.name, class: 'form-control', disabled: true
                - elsif "text_field" == "text_area"
                  = f.text_area :branch_location, class: 'form-control', required: true, disabled: true
                - else
                  = f.text_field :branch_location, class: 'form-control', required: true, disabled: true
          
    .card-footer.text-right.pb-3
      = link_to 'Back', personnels_path, class: "btn btn-secondary"
      = link_to 'Edit', edit_personnel_path(@personnel), class: "btn btn-warning px-5"
