.app-content
  .content-wrapper
    .container
      .card.widget.widget-payment-request
        .card-body.card-header.d-flex
          %i.material-icons-two-tone> book
          %h5.card-title
            Vehicles List
        .card-body
          .datatable-container
            .table-responsive.datatable-container
              %table#vehicles-table.table.table-striped.table-bordered.table-hover.table-sm.datatable
                %thead.bg-light
                  %tr
                    %th Chassis #
                    %th Year Model
                    %th Classification
                    %th Route
                    %th Case #
                    %th Status
                    %th Action
                %tbody
                  - @vehicles.each do |vehicle|
                    %tr
                      %td= vehicle.chassis_num
                      %td= vehicle.year_model
                      %td= vehicle.classification
                      %td= vehicle.franchise.authorize_route.name
                      %td= vehicle.franchise.case_num
                      %td= vehicle.status
                      %td.d-flex.gap-1
                        = link_to vehicle, title: 'Show', class: 'btn btn-sm btn-info', style: 'width:36px;height:36px;' do
                          %i.material-icons.m-0 visibility
                        = link_to edit_vehicle_path(vehicle), title: 'Edit', class: 'btn btn-sm btn-warning', style: 'width:36px;height:36px;' do
                          %i.material-icons.m-0 edit
                        = link_to vehicle, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, title: 'Delete', class: 'btn btn-sm btn-danger', style: 'width:36px;height:36px;' do
                          %i.material-icons.m-0 delete



