= form_for @inhouse_loan do |f|
  - if @inhouse_loan.errors.any?
    #error_explanation
      %h2= "#{pluralize(@inhouse_loan.errors.count, "error")} prohibited this inhouse_loan from being saved:"
      %ul
        - @inhouse_loan.errors.full_messages.each do |message|
          %li= message
  .card-body.pb-0
    .row
      .form-group.col-12.pt-2
        .form-row
          .col-md-6.pt-3
            .field
              = f.label :client
              = f.text_field :client, class: 'form-control', required:  true
          .col-md-6.pt-3
            .field
              = f.label :terms
              = f.number_field :terms, class: 'form-control', required:  true
          .col-md-6.pt-3
            .field
              = f.label :loan_financing
              = f.text_field :loan_financing, class: 'form-control', required:  true
          .col-md-6.pt-3
            .field
              = f.label :balance
              = f.text_field :balance, class: 'form-control', required:  true
          .col-md-6.pt-3
            .field
              = f.label :downpayment
              = f.text_field :downpayment, class: 'form-control', required:  true
        
          .col-md-6.pt-3
            .field
              = f.label :monthly_amort
              = f.text_field :monthly_amort, class: 'form-control', required:  true
          .col-md-6.pt-3
            .field
              = f.label :contract_date
              = f.datetime_field :contract_date, class: 'form-control', required:  true
          .col-md-6.pt-3
            .field
              = f.label :amortization_start_date
              = f.datetime_field :amortization_start_date, class: 'form-control', required:  true
          .col-md-6.pt-3
            .field
              = f.label :remarks
              = f.text_area :remarks, class: 'form-control', required:  true
        .card-footer
    = link_to 'Back', inhouse_loans_path, class: 'btn btn-secondary'
    = f.submit 'Save Changes', class: 'btn btn-warning float-right'
