
= form_for @inhouse_loan do |f|
  - if @inhouse_loan.errors.any?
    #error_explanation
      %h2= "#{pluralize(@inhouse_loan.errors.count, "error")} prohibited this loan from being saved:"
      %ul
        - @inhouse_loan.errors.full_messages.each do |message|
          %li= message
  .row.m-t-sm
    .col-md-4
      = f.hidden_field :loan_id, class: 'form-control', required:  true, value: @loan.id
      = f.label :loan_financing, :class => "form-label"
      = f.select :loan_financing, options_for_select([['Inhouse', 'Inhouse'], ['PAG-IBIG', 'PAG-IBIG'], ['Bank', 'Bank'], ['Cash', 'Cash']], @loan_financing), { include_blank: 'Select Loan Financing' }, class: 'form-control', required: true
    .col-md-4
      = f.label :balance, :class => "form-label"
      = f.number_field :balance, class: 'form-control', value: @loan.balance
    .col-md-4
      = f.label "Total Payments Made", :class => "form-label"
      = f.number_field :downpayment, class: 'form-control', step: 'any', required:  true, value: @loan.downpayment.to_f
  .row.m-t-sm
    .col-md-4
      = f.label "terms in months", :class => "form-label"
      = f.number_field :terms, class: 'form-control', required:  true, onchange: "javascript: comp_month_amort()"
    .col-md-4
      = f.label 'interest in %', :class => "form-label"
      = f.number_field :interest, class: 'form-control', required:  true, value: 0
    .col-md-4
      = f.label "Factor Table", :class => "form-label"
      = f.number_field :processing_fees, class: 'form-control', step: 'any', required:  true, onchange: "javascript: comp_month_amort()"
  .row.m-t-sm 
    .col-md-4
      = f.label :monthly_amortization, :class => "form-label"
      = f.number_field :monthly_amort, class: 'form-control', required:  true, readonly: true
    .col-md-4
      = f.label "Contract Loan/Take-out Date", :class => "form-label"
      = f.date_field :contract_date, class: 'form-control', required:  true
    .col-md-4
      = f.label :amortization_start_date, :class => "form-label"
      = f.date_field :amortization_start_date, class: 'form-control', required:  true 
  .row.m-t-sm
    .col-md-12    
      = f.label :remarks, :class => "form-label"
      = f.text_area :remarks, class: 'form-control'     
  .mt-4
    = link_to 'Back', loans_path, class: 'btn btn-dark'
    = f.submit 'Save Changes', class: 'btn btn-primary float-right'
:javascript
  $(document).ready(function(){
    $(".js-example-tokenizer").select2({
      tags: true,
      tokenSeparators: [',', ' ']
    });
    $('select').select2({
      createTag: function (params) {
        // Don't offset to create a tag if there is no @ symbol
        if (params.term.indexOf('@') === -1) {
          // Return null to disable tag creation
          return null;
        }

        return {
          id: params.term,
          text: params.term
        }
      }
    });
    $('select').select2({
      createTag: function (params) {
        var term = $.trim(params.term);

        if (term === '') {
          return null;
        }

        return {
          id: term,
          text: term,
          newTag: true // add additional parameters
        }
      }
    });
  });

  function comp_month_amort(){
    const balance = $("#inhouse_loan_balance").val() - $("#inhouse_loan_processing_fees").val()
    $.ajax({
      url: "/inhouse_loans/compute_monthly_amort", // this will be routed
      type: 'GET',
      data: {
        balance: balance, 
        interest_rate: $("#inhouse_loan_interest").val(),
        terms: $("#inhouse_loan_terms").val()
      },
      async: true,
      dataType: "json",
      error: function(XMLHttpRequest, errorTextStatus, error){
          alert("Failed: "+ errorTextStatus+" ;"+error);
      },
      success: function(ret){
          $("#inhouse_loan_monthly_amort").val(ret)
      }
    });
  }