= form_for @water_bill do |f|
  - if @water_bill.errors.any?
    #error_explanation
      %h2= "#{pluralize(@water_bill.errors.count, "error")} prohibited this water_bill from being saved:"
      %ul
        - @water_bill.errors.full_messages.each do |message|
          %li= message
  .row.m-t-sm
    .col-md-6
      = f.label :reading_date, :class => "form-label"
      = f.date_field :reading_date, class: 'form-control', required:  true
    .col-md-6
      = f.label "Block & Lot", :class => "form-label"
      = f.select :loan_id, options_for_select(@loans ? @loans : []), { include_blank: 'Select Block & Lot'}, {required: true, class: 'form-control js-example-tokenizer' }
  .row.m-t-sm
    .col-md-6
      = f.label :previous, :class => "form-label"
      = f.number_field :previous, class: 'form-control', required:  true, step: '0.01', onchange: "javascript: comp_consumed_bill()"
    .col-md-6
      = f.label :current, :class => "form-label"
      = f.number_field :current, class: 'form-control', required:  true, step: '0.01', onchange: "javascript: comp_consumed_bill()"
  .row.m-t-sm
    .col-md-6
      = f.label :consume, :class => "form-label"
      = f.text_field :consume, class: 'form-control', required:  true, step: '0.01'
    .col-md-6
      = f.label :remarks, :class => "form-label"
      = f.text_area :remarks, class: 'form-control'
  .mt-4
    = link_to 'Back', water_bills_path, class: 'btn btn-dark'
    = f.submit 'Save Changes', class: 'btn btn-primary'

:javascript
  $(document).ready(function(){
    $(".js-example-tokenizer").select2({
      tags: true,
      tokenSeparators: [',', ' ']
    });
    $('select').select2({
      createTag: function (params) {
        // Don't offset to create a tag if there is no @ symbol
        if (params.term.indexOf('@') === -1) {
          // Return null to disable tag creation
          return null;
        }

        return {
          id: params.term,
          text: params.term
        }
      }
    });
    $('select').select2({
      createTag: function (params) {
        var term = $.trim(params.term);

        if (term === '') {
          return null;
        }

        return {
          id: term,
          text: term,
          newTag: true // add additional parameters
        }
      }
    });
  });
  function comp_consumed_bill(){
    current = $("#water_bill_current").val()
    previous = $("#water_bill_previous").val()

    $("#water_bill_consume").val(current - previous)
  }
:css  
  span.selection {
    height: 44px;
    display: grid;
  } 