= form_for @water_bill do |f|
  - if @water_bill.errors.any?
    #error_explanation
      %h2= "#{pluralize(@water_bill.errors.count, "error")} prohibited this water_bill from being saved:"
      %ul
        - @water_bill.errors.full_messages.each do |message|
          %li= message
  .card-body.pb-0
    .row
      .form-group.col-12.pt-2
        .form-row
          .col-md-12.row
            .col-md-6.pt-3
              .field
                = f.label :reading_date
                = f.date_field :reading_date, class: 'form-control', required:  true
            .col-md-6.pt-3
              .field
                = f.label "Block&Lot"
                = f.select :loan_id, options_for_select(@loans ? @loans : []), {required: true}, :class=>"form-control"
          .col-md-12.row
            .col-md-6.pt-3
              .field
                = f.label :previous
                = f.number_field :previous, class: 'form-control', required:  true, step: '0.01', onchange: "javascript: comp_consumed_bill()"
            .col-md-6.pt-3
              .field
                = f.label :current
                = f.number_field :current, class: 'form-control', required:  true, step: '0.01', onchange: "javascript: comp_consumed_bill()"
          .col-md-12.row
            .col-md-6.pt-3
              .field
                = f.label :consume
                = f.text_field :consume, class: 'form-control', required:  true, step: '0.01'
          .col-md-12.pt-3
            .field
              = f.label :remarks
              = f.text_area :remarks, class: 'form-control'
        .card-footer
    = link_to 'Back', water_bills_path, class: 'btn btn-secondary'
    = f.submit 'Save Changes', class: 'btn btn-warning float-right'

:javascript
  function comp_consumed_bill(){
    current = $("#water_bill_current").val()
    previous = $("#water_bill_previous").val()

    $("#water_bill_consume").val(current - previous)
  }