.container
  .page-description.d-flex.align-items-center
    .page-description-content.flex-grow-1
      %h1 Unpaid Water Bill
    .page-description-actions
      = link_to 'Download Excel', download_excel_water_bills_path, class: 'btn btn-success'
   
  .card
    .card-body
      .row
        .col-sm-12.table-responsive  
          %table#datatable_paidwaters.display.dataTable{"aria-describedby" => "datatable1_info", :role => "grid", :style => "width: 100%;"}
            %thead
              %tr{:role => "row"}
                %th Name
                %th Project
                %th Block
                %th Lot
                %th Status
                %th Details
            %tbody
              - @unpaid_waters.each do |water_bill|
                %tr
                  %td= water_bill.client.name
                  %td= "#{water_bill.loan_parcels.map { |lp| lp.parcel.subdivision&.short_code }.uniq.join(',')}"
                  %td= "#{water_bill.loan_parcels.map { |lp| lp.parcel.block }.uniq.join(',')}"
                  %td= "#{water_bill.loan_parcels.map { |lp| lp.parcel.lot }.uniq.join(',')}"
                  %td
                    %span{ class: "badge #{water_bill.status == 'paid' ? 'bg-primary' : 'bg-danger'}" }
                      = water_bill.status
                  %td
                    .d-flex
                      = link_to water_bill, class: 'btn btn-action btn-info' do
                        %i.material-icons> visibility
                      - unless current_user.role == 'water-reader'
                        - unless water_bill.status == 'paid'
                          = link_to pay_water_bill_path(water_bill), class: 'btn btn-action btn-success' do
                            %i.material-icons>  payments
                        - if current_user.role == 'admin' || current_user.role == 'ceo'
                          = button_to water_bill_path(water_bill), class: 'btn btn-action btn-danger', method: :delete, data: { confirm: 'Are you sure?', remote: true } do
                            %i.material-icons delete