.app.align-content-stretch.d-flex.flex-wrap
  = render "layouts/sidebar"
  .app-container
    .app-content
      .content-wrapper
        .container
          .page-description.d-flex.align-items-center
            .page-description-content.flex-grow-1
              %h1 Water Bill
            .page-description-actions
              = link_to new_water_bill_path, class: 'btn btn-primary' do
                %i.material-icons> add
                New Water Bill
          .card
            .card-body
              .row
                .col-sm-12.table-responsive
                  %table#datatable_waters.display.dataTable{"aria-describedby" => "datatable1_info", :role => "grid", :style => "width: 100%;"}
                    %thead
                      %tr{:role => "row"}
                        %th Name
                        %th Block
                        %th Lot
                        %th Previous
                        %th Current
                        %th Consume
                        %th Amount
                        %th Status
                        %th Action
                    %tbody
                      - @water_bills.each do |water_bill|
                        %tr.odd{:role => "row"}
                          %td= water_bill.client.name
                          %td= "#{water_bill.loan_parcels.map { |lp| lp.parcel.block }.uniq.join(',')}"
                          %td= "#{water_bill.loan_parcels.map { |lp| lp.parcel.lot }.uniq.join(',')}"
                          %td= water_bill.previous
                          %td= water_bill.current
                          %td= water_bill.consume
                          %td= number_to_currency(water_bill.amount, unit: "₱ ", separator: ".", delimiter: ",")
                          %td
                            %span{ class: "badge #{water_bill.status == 'paid' ? 'bg-primary' : 'bg-danger'}" }
                              = water_bill.status
                          %td
                            .d-flex
                              = link_to water_bill, class: 'btn btn-action btn-info' do
                                %i.material-icons> visibility
                              - unless current_user.role == 'water-reader'
                                - unless water_bill.status == 'paid'
                                  = link_to pay_water_bill_path(water_bill), class: 'btn btn-action btn-success' do
                                    %i.material-icons>  payments
                                - if current_user.role == 'admin' || current_user.role == 'ceo'
                                  = button_to water_bill_path(water_bill), class: 'btn btn-action btn-danger', method: :delete, data: { confirm: 'Are you sure?', remote: true } do
                                    %i.material-icons delete
:javascript
  $(document).ready( function () {
      $('#datatable_waters').DataTable();
  } );