.app.align-content-stretch.d-flex.flex-wrap
  = render "layouts/sidebar"
  .app-container
    .app-content
      .content-wrapper
        .container
          .page-description.d-flex.align-items-center
            .page-description-content.flex-grow-1
              %h1 Payment
          .card
            .card-body
              = form_for 'customer_payments', url: process_pay_water_bill_path(@water_bill), html: { id: 'customer_payments' } do |f|
                .modal-header
                  %h5#exampleModalLabel.modal-title.new_keyword_modal_title Add Payment
                .modal-body
                  .cont@loanItemner-fluid
                    .row.m-t-sm  
                      .col-md-6
                        = f.label 'payment_date', :class => "form-label"
                        = f.date_field :payment_date, class: 'form-control', id: "payment_date", required:  true  
                      .col-md-6
                        = f.label 'amount', :class => "form-label"
                        = f.number_field :payment, :class=>"form-control",id: "payment", step: '0.01', required:  true, readonly: true, value: @water_bill.amount
                    .row.m-t-sm
                      .col-md-6
                        = f.label :mode_of_payment, :class => "form-label"
                        = f.select :mode_of_payment, options_for_select([['Cash', 'Cash'],['Bank Transfer', 'Bank Transfer'], ['eWallet (Gcash/Maya Wallet)', 'eWallet (Gcash/Maya Wallet)']]), { include_blank: 'Select Mode of Payment' }, :class=>"form-control", required:  true
                    
                      .col-md-6
                        = f.label :bank_name, :class => "form-label"
                        = f.select :bank_name, options_for_select([['Gcash/Maya Wallet', 'Gcash/Maya Wallet'], ['BDO', 'BDO'], ['BPI', 'BPI'], ['Metrobank', 'Metrobank'], ['Eastwest', 'Eastwest'], ['Union Bank', 'Union Bank'], ['AUB', 'AUB'], ['Other', 'Other'], ['None for Cash', 'None for Cash']]), { include_blank: 'Select Bank Name' }, :class=>"form-control"
                    .row.m-t-sm
                      .col-md-6
                        = f.label "Upload Proof of Payment", :class => "form-label"
                        = f.file_field :receipt_img, id: "formFile", class: "form-control", multiple: true, accept: "application/pdf", include_hidden: false
                      .col-md-6
                        = f.label :received_by, :class => "form-label"
                        = f.text_field :received_by, :class=>"form-control", required:  true, disabled: true, value: "#{current_user.name} #{current_user.surname}"
                    .row.m-t-sm
                      .col-md-12 
                        = f.label "Remark", :class => "form-label"
                        = f.text_area :others, :class=>"form-control", placeholder: "Add additional notes..."
                    .m-t-sm.col-md-1.mt-4
                      = f.submit 'Add Payment', :class=>"btn btn-sm btn-primary p-h-xxl p-w-xxl"
:javascript
  $(document).ready(function(){
    $(".js-example-tokenizer").select2({
      tags: true,
      tokenSeparators: [',', ' ']
    });
    $('select').select2({
      createTag: function (params) {
        // Don't offset to create a tag if there is no @ symbol
        if (params.term.indexOf('@') === -1) {
          // Return null to disable tag creation
          return null;
        }

        return {
          id: params.term,
          text: params.term
        }
      }
    });
    $('select').select2({
      createTag: function (params) {
        var term = $.trim(params.term);

        if (term === '') {
          return null;
        }

        return {
          id: term,
          text: term,
          newTag: true // add additional parameters
        }
      }
    });
  }); 