
.app.align-content-stretch.d-flex.flex-wrap
  .app-sidebar
    = render "layouts/sidebar"
  .app-container
    .app-content
      .content-wrapper
        .container
          .page-description.d-flex.align-items-center
            .page-description-content.flex-grow-1
              %h1= @water_bill.client.name
          .row
            .card
              .card-body
                = form_for @water_bill do |f|
                  - if @water_bill.errors.any?
                    #error_explanation
                      %h2= "#{pluralize(@water_bill.errors.count, "error")} prohibited this water_bill from being saved:"
                      %ul
                        - @water_bill.errors.full_messages.each do |message|
                          %li= message
                  .row.m-t-sm
                    .col-md-4
                      = f.label :loan, :class => "form-label"
                      = f.text_field :loan, class: 'form-control', required:  true, disabled: true
                    .col-md-4
                      = f.label :amount, :class => "form-label"
                      = f.text_field :amount, class: 'form-control', required:  true, disabled: true
                    .col-md-4
                      = f.label :status, :class => "form-label"
                      = f.text_field :status, class: 'form-control', required:  true, disabled: true
                  .row.m-t-sm
                    .col-md-4
                      = f.label :previous, :class => "form-label"
                      = f.number_field :previous, class: 'form-control', required:  true, disabled: true
                    .col-md-4
                      = f.label :current, :class => "form-label"
                      = f.number_field :current, class: 'form-control', required:  true, disabled: true
                    .col-md-4
                      = f.label :consume, :class => "form-label"
                      = f.text_field :consume, class: 'form-control', required:  true, disabled: true
                  .row.m-t-sm
                    .col-md-4
                      = f.label :reading_date, :class => "form-label"
                      = f.datetime_field :reading_date, class: 'form-control', required:  true, disabled: true
                    .col-md-4
                      = f.label :due_date, :class => "form-label"
                      = f.datetime_field :due_date, class: 'form-control', required:  true, disabled: true
                    .col-md-4
                      = f.label :grace_period, :class => "form-label"
                      = f.datetime_field :grace_period, class: 'form-control', required:  true, disabled: true
                  .row.m-t-sm
                    .col-md-4
                      %h4.bold Payment details
                  .row.m-t-sm
                    .col-md-4
                      = f.label :mode_of_payment, :class => "form-label"
                      = f.text_field :mode_of_payment, class: 'form-control', required:  true, disabled: true
                    .col-md-4
                      = f.label :bank_name, :class => "form-label"
                      = f.text_field :bank_name, class: 'form-control', required:  true, disabled: true
                    .col-md-4
                      = f.label :reference_number, :class => "form-label"
                      = f.text_field :reference_number, class: 'form-control', required:  true, disabled: true
                  .row.m-t-sm
                    .col-md-4
                      = f.label :payment_date, :class => "form-label"
                      = f.datetime_field :payment_date, class: 'form-control', required:  true, disabled: true
                    .col-md-4
                      = f.label :received_by, :class => "form-label"
                      = f.text_field :received_by, class: 'form-control', required:  true, disabled: true
                    .col-md-4
                      = f.label "Proof of Payment", :class => "form-label"
                      - if @water_bill.receipt_img.present?
                        - @water_bill.receipt_img.each do |x|
                          %a.dropdown-item.btn-light{ href: x.to_s, target: '_blank', rel: 'noopener noreferrer' }
                            %i.fas.fa-file.pr-2
                            View File
                  .row-m-t-sm
                    .col-md-12
                      = f.label :remarks, :class => "form-label"
                      = f.text_area :remarks, class: 'form-control', required:  true, disabled: true
                  .mt-4
                    = link_to 'Back', water_bills_path, :class => "btn btn-dark"
                    //= link_to 'Edit', edit_water_bill_path(@water_bill), :class => "btn btn-primary float-right"

