
.app.align-content-stretch.d-flex.flex-wrap
  .app-sidebar
    = render "layouts/sidebar"
  .app-container
    .app-content
      .content-wrapper
        .container
          .page-description.d-flex.align-items-center
            .page-description-content.flex-grow-1
              %h1= @water_bill.client.name
          .row
            .card
              .card-body
                = form_for @water_bill do |f|
                  - if @water_bill.errors.any?
                    #error_explanation
                      %h2= "#{pluralize(@water_bill.errors.count, "error")} prohibited this water_bill from being saved:"
                      %ul
                        - @water_bill.errors.full_messages.each do |message|
                          %li= message
                  .row.m-t-sm
                    .col-md-4
                      = f.label :client, :class => "form-label"
                      = f.text_field :client, class: 'form-control', required:  true, disabled: true
                    .col-md-4
                      = f.label :loan, :class => "form-label"
                      = f.text_field :loan, class: 'form-control', required:  true, disabled: true
                    .col-md-4
                      = f.label :previous, :class => "form-label"
                      = f.number_field :previous, class: 'form-control', required:  true, disabled: true
                  .row.m-t-sm
                    .col-md-4
                      = f.label :current, :class => "form-label"
                      = f.number_field :current, class: 'form-control', required:  true, disabled: true
                    .col-md-4
                      = f.label :consume, :class => "form-label"
                      = f.text_field :consume, class: 'form-control', required:  true, disabled: true
                    .col-md-4
                      = f.label :amount, :class => "form-label"
                      = f.text_field :amount, class: 'form-control', required:  true, disabled: true
                  .row.m-t-sm
                    .col-md-4
                      = f.label :or_number, :class => "form-label"
                      = f.text_field :or_number, class: 'form-control', required:  true, disabled: true
                    .col-md-4
                      = f.label :due_date, :class => "form-label"
                      = f.datetime_field :due_date, class: 'form-control', required:  true, disabled: true
                    .col-md-4
                      = f.label :reading_date, :class => "form-label"
                      = f.datetime_field :reading_date, class: 'form-control', required:  true, disabled: true
                  .row.m-t-sm
                    .col-md-4
                      = f.label :grace_period, :class => "form-label"
                      = f.datetime_field :grace_period, class: 'form-control', required:  true, disabled: true
                    .col-md-4
                      = f.label :status, :class => "form-label"
                      = f.text_field :status, class: 'form-control', required:  true, disabled: true
                    .col-md-4
                      = f.label :remarks, :class => "form-label"
                      = f.text_field :remarks, class: 'form-control', required:  true, disabled: true
                  .row.m-t-sm
                    .col-md-4
                      = f.label :penalty, :class => "form-label"
                      = f.text_field :penalty, class: 'form-control', required:  true, disabled: true
                    .col-md-4
                      = f.label :total, :class => "form-label"
                      = f.text_field :total, class: 'form-control', required:  true, disabled: true
                    .col-md-4
                      = f.label :mode_of_payment, :class => "form-label"
                      = f.text_field :mode_of_payment, class: 'form-control', required:  true, disabled: true
                  .row.m-t-sm  
                    .col-md-4
                      = f.label :receipt, :class => "form-label"
                      = f.text_field :receipt, class: 'form-control', required:  true, disabled: true
                    .col-md-4
                      = f.label :reference_number, :class => "form-label"
                      = f.text_field :reference_number, class: 'form-control', required:  true, disabled: true
                  .mt-4
                    = link_to 'Back', water_bills_path, :class => "btn btn-dark"
                    = link_to 'Edit', edit_water_bill_path(@water_bill), :class => "btn btn-primary float-right"

