.app-sidebar
  .app-sidebar
    .app-menu
      %ul.accordion-menu
        %li.sidebar-title
          Country Homes
        %li{class: current_page_class('/')}
          = link_to  '/' do
            %i.material-icons-two-tone> dashboard
            Dashboard
        %li{class: current_page_class('/parcels')}
          %a{href: "/parcels", class: "text-gray-300 hover:text-white transition"}
            %i.material-icons-two-tone> folder
            Inventory
        %li{class: current_page_class('/clients')}
          %a{href: "/clients", class: "text-gray-300 hover:text-white transition"}
            %i.material-icons-two-tone> group
            Clients
            %span.badge.rounded-pill.badge-danger.float-end 
        %li{class: current_page_class('/loans')}
          %a{href: "/loans", class: "text-gray-300 hover:text-white transition"}
            %i.material-icons-two-tone> home
            Housing
            %span.badge.rounded-pill.badge-success.float-end 
        %li{class: current_page_class('/water_bills')}
          %a{:href => "/water_bills"}
            %i.material-icons-two-tone> water_drop
            Water
        %li{class: current_page_class('/manage_users')}
          %a{href: "/manage_users", class: "text-gray-300 hover:text-white transition"}
            %i.material-icons-two-tone> person
            Users
        %li{class: current_page_class('todo.html')}
          %a{:href => "todo.html"}
            %i.material-icons-two-tone> history
            Logs
  .app-container
    .search
      %form
        %input.form-control{"aria-label" => "Search", :placeholder => "Type here...", :type => "text"}/
      %a.toggle-search{:href => "#"}
        %i.material-icons close
    .app-header
      %nav.navbar.navbar-light.navbar-expand-lg.bg-primary
        .container-fluid
          #navbarNav.navbar-nav
          .d-flex
            %ul.navbar-nav
              %li.nav-item.hidden-on-mobile.text-white.d-flex.align-items-center
                - if user_signed_in?
                  Hello,
                  = succeed "." do
                    %strong= current_user.name
                  = link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link"
                - else
                  = link_to "Login", new_user_session_path, class: "nav-link"