.div
  / Sidebar
  -# For desktop, always visible
  #sidebar-desktop.bg-light.d-none.d-lg-block
    %ul.nav.flex-column.p-3
      %li.nav-item.mb-3.text-center
        = image_tag "logo.png", class: "img-fluid", style: "max-width:120px;"
      %li.nav-item
        = link_to "/home/index", class: "nav-link" do
          %i.material-icons-two-tone.me-2 dashboard
          Dashboard
      %li.nav-item
        = link_to "/vehicles", class: "nav-link" do
          %i.material-icons-two-tone.me-2 directions_car
          Vehicles
      %li.nav-item
        = link_to "/franchises", class: "nav-link" do
          %i.material-icons-two-tone.me-2 storefront
          Franchises
      %li.nav-item
        = link_to "/authorize_routes", class: "nav-link" do
          %i.material-icons-two-tone.me-2 alt_route
          Authorize Routes
      %li.nav-item
        = link_to "/personnels", class: "nav-link" do
          %i.material-icons-two-tone.me-2 person
          Manage Users
      %li.nav-item
        = button_to destroy_user_session_path, method: :delete, class: 'nav-link btn btn-link p-0 text-start' do
          %i.material-icons-two-tone logout
          Logout

  -# For mobile, offcanvas sidebar
  #sidebar-mobile.offcanvas.offcanvas-start.bg-light.d-lg-none{ tabindex: "-1" }
    .offcanvas-header
      %h5.offcanvas-title Menu
      %button.btn-close{ type: "button", data: { bs_dismiss: "offcanvas" } }
    .offcanvas-body.p-0
      %ul.nav.flex-column.p-3
        %li.nav-item.mb-3.text-center
          = image_tag "logo.png", class: "img-fluid", style: "max-width:120px;"
        %li.nav-item
          = link_to "/home/index", class: "nav-link" do
            %i.material-icons-two-tone.me-2 dashboard
            Dashboard
        %li.nav-item
          = link_to "/vehicles", class: "nav-link" do
            %i.material-icons-two-tone.me-2 directions_car
            Vehicles
        %li.nav-item
          = link_to "/franchises", class: "nav-link" do
            %i.material-icons-two-tone.me-2 storefront
            Franchises
        %li.nav-item
          = link_to "/authorize_routes", class: "nav-link" do
            %i.material-icons-two-tone.me-2 alt_route
            Authorize Routes
        %li.nav-item
          = link_to "/personnels", class: "nav-link" do
            %i.material-icons-two-tone.me-2 person
            Manage Users
        %li.nav-item
          = button_to destroy_user_session_path, method: :delete, class: 'nav-link btn btn-link p-0 text-start' do
            %i.material-icons-two-tone logout
            Logout
