%div
  / Sidebar
  -# For desktop, always visible
  #sidebar-desktop.sidebar.bg-dark.d-none.d-lg-block.vh-100
    %ul.nav.d-flex.flex-column.justify-content-center
      %li.nav-item.pt-3.pb-3.d-flex.justify-content-center
        = image_tag "logo.png", class: "d-flex align-items-center justify-content-center gap-2", style: "max-width: 120px;"
      %li.nav-item.p-3{class: "#{'active' if current_page?('/home/index')}"}
        = link_to "/home/index", class: "nav-link btn btn-link p-0 text-start d-flex align-items-center gap-2" do
          %i.material-icons dashboard
          Dashboard
      %li.nav-item.p-3{class: "#{'active' if current_page?('/announcemnts')}"}
        = link_to "/announcemnts",class: "nav-link btn btn-link p-0 text-start d-flex align-items-center gap-2" do
          %i.material-icons campaign
          Emergency Notification
      %li.nav-item.p-3{class: "#{'active' if current_page?('/events')}"}
        = link_to "/events",class: "nav-link btn btn-link p-0 text-start d-flex align-items-center gap-2" do
          %i.material-icons event
          Events
      %li.nav-item.p-3{class: "#{'active' if current_page?('/reservists')}"}
        = link_to "/reservists", class: "nav-link btn btn-link p-0 text-start d-flex align-items-center gap-2" do
          %i.material-icons groups
          Reservists
      %li.nav-item.p-3{class: "#{'active' if current_page?('/mapping/index')}"}
        = link_to "/mapping/index",class: "nav-link btn btn-link p-0 text-start d-flex align-items-center gap-2" do
          %i.material-icons map
          Mapping
      %li.nav-item
        %a.nav-link.d-flex.align-items-center.justify-content-between{
          data: { bs_toggle: "collapse" },
          href: "#eventsSubmenu",
          role: "button",
          aria: { expanded: "false", controls: "eventsSubmenu" }
        }
          .d-flex.align-items-center.gap-2
            %i.material-icons military_tech
            %span ADT

          %i.material-icons.chevron-icon expand_more

        %ul.collapse.list-unstyled.ps-4#eventsSubmenu
          %li
            = link_to "Create Application", new_adt_path, class: "nav-link"
          %li
            = link_to "View Applications", adts_path, class: "nav-link"
      %li.nav-item.p-3
        = button_to destroy_user_session_path, method: :delete, class: 'nav-link btn btn-link p-0 text-start' do
          %i.material-icons logout
          Logout

  -# For mobile, offcanvas sidebar
  #sidebar-mobile.sidebar.offcanvas.offcanvas-start.bg-dark.d-lg-none{ tabindex: "-1" }

    .offcanvas-header
      %h5.offcanvas-title Menu
      %button.btn-close{ class: "text-white", type: "button", data: { bs_dismiss: "offcanvas" } }
    .offcanvas-body.p-0
      %ul.nav.d-flex.flex-column.justify-content-center
        %li.nav-item.pt-3.pb-3.d-flex.justify-content-center
          = image_tag "logo.png", class: "d-flex align-items-center justify-content-center gap-2", style: "max-width: 100px;"
        %li.nav-item.p-3{class: "#{'active' if current_page?('/home/index')}"}
          = link_to "/home/index", class: "nav-link btn btn-link p-0 text-start d-flex align-items-center gap-2" do
            %i.material-icons dashboard
            Dashboard
        %li.nav-item.p-3{class: "#{'active' if current_page?('/events')}"}
          = link_to "/events",class: "nav-link btn btn-link p-0 text-start d-flex align-items-center gap-2" do
            %i.material-icons event
            Events
        %li.nav-item.p-3{class: "#{'active' if current_page?('/reservists')}"}
          = link_to "/reservists", class: "nav-link btn btn-link p-0 text-start d-flex align-items-center gap-2" do
            %i.material-icons groups
            Reservists
        %li.nav-item.p-3{class: "#{'active' if current_page?('/mapping/index')}"}
          = link_to "/mapping/index",class: "nav-link btn btn-link p-0 text-start d-flex align-items-center gap-2" do
            %i.material-icons map
            Mapping
        %li.nav-item
          %a.nav-link.d-flex.align-items-center.justify-content-between{
            data: { bs_toggle: "collapse" },
            href: "#eventsSubmenu",
            role: "button",
            aria: { expanded: "false", controls: "eventsSubmenu" }
          }
            .d-flex.align-items-center.gap-2
              %i.material-icons military_tech
              %span ADT

            %i.material-icons.chevron-icon expand_more

          %ul.collapse.list-unstyled.ps-4#eventsSubmenu
            %li
              = link_to "Create Application", new_adt_path, class: "nav-link"
            %li
              = link_to "View Applications", adts_path, class: "nav-link"
        %li.nav-item.p-3
          = button_to destroy_user_session_path, method: :delete, class: 'nav-link btn btn-link p-0 text-start' do
            %i.material-icons logout
            Logout
