!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Amortization
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload", media: 'all' 
    %link{:href => "https://fonts.gstatic.com", :rel => "preconnect"}/
    %link{:href => "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp", :rel => "stylesheet"}/
    = stylesheet_link_tag 'bootstrap', media: 'all', 'data-turbolinks-track': 'reload'
    
    = stylesheet_link_tag 'main.min', media: 'all', 'data-turbolinks-track': 'reload' 
    = stylesheet_link_tag 'main', media: 'all', 'data-turbolinks-track': 'reload' 
    = stylesheet_link_tag 'custom', media: 'all', 'data-turbolinks-track': 'reload' 

    = javascript_include_tag 'bootstrap.min', 'data-turbolinks-track': 'reload' 
    = javascript_include_tag 'jquery-3.5.1.min', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'datatables', 'data-turbolinks-track': 'reload'
    
    = stylesheet_link_tag 'pace', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'datatables', media: 'all', data: { turbolinks_track: 'reload' }

    %link{:href => "https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css", :rel => "stylesheet"}/
    %script{:src => "https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"}
    %link{:href => "vendor/select2/dist/css/select2.min.css", :rel => "stylesheet"}/
    %script{:src => "vendor/select2/dist/js/select2.min.js"}


    = javascript_importmap_tags
  %body
    %main
      - if notice
        %p.alert.alert-success= notice
      - if alert
        %p.alert.alert-danger= alert
      = yield
