%section.section
  .section-header.d-mobile-none
    %h1 New created inhouse_loan_item
    .section-header-breadcrumb
      .breadcrumb-item 
        = link_to 'Dashboard', '/'
      .breadcrumb-item
        @inhouse_loan_item
  .col-12.col-md-12.col-lg-12
    .card
      .card-body
        = form_for @inhouse_loan_item do |f|
          - if @inhouse_loan_item.errors.any?
            #error_explanation
              %h2= "#{pluralize(@inhouse_loan_item.errors.count, "error")} prohibited this inhouse_loan_item from being saved:"
              %ul
                - @inhouse_loan_item.errors.full_messages.each do |message|
                  %li= message
          .form-row.pt-3
            .col-md-6
              .field
                = f.label :term
                = f.number_field :term, class: 'form-control', required:  true, disabled: true
            .col-md-6
              .field
                = f.label :inhouse_loan
                = f.text_field :inhouse_loan, class: 'form-control', required:  true, disabled: true
            .col-md-6
              .field
                = f.label :due_date
                = f.date_field :due_date, class: 'form-control', required:  true, disabled: true
            .col-md-6
              .field
                = f.label :principal
                = f.text_field :principal, class: 'form-control', required:  true, disabled: true
            .col-md-6
              .field
                = f.label :interest
                = f.text_field :interest, class: 'form-control', required:  true, disabled: true
            .col-md-6
              .field
                = f.label :monthly_amort
                = f.text_field :monthly_amort, class: 'form-control', required:  true, disabled: true
            .col-md-6
              .field
                = f.label :balance
                = f.text_field :balance, class: 'form-control', required:  true, disabled: true
            .col-md-6
              .field
                = f.label :is_paid
                = f.check_box :is_paid, class: 'form-control', required:  true, disabled: true
            .col-md-6
              .field
                = f.label :penalty
                = f.text_field :penalty, class: 'form-control', required:  true, disabled: true
            .col-md-6
              .field
                = f.label :advance
                = f.text_field :advance, class: 'form-control', required:  true, disabled: true
            .col-md-6
              .field
                = f.label :payment_date
                = f.datetime_field :payment_date, class: 'form-control', required:  true, disabled: true
            .col-md-6
              .field
                = f.label :or
                = f.text_field :or, class: 'form-control', required:  true, disabled: true
            .col-md-6
              .field
                = f.label :paid_amount
                = f.text_field :paid_amount, class: 'form-control', required:  true, disabled: true
          .card-footer.pt-3
        
        = link_to 'Back', inhouse_loan_items_path, :class => "btn btn-secondary"
        = link_to 'Edit', edit_inhouse_loan_item_path(@inhouse_loan_item), :class => "btn btn-warning float-right"

